.idea/

**.DS_STORE

# VTT currently has a bug preventing parsing in Safari. Keep version with modifications.
# See https://github.com/mozilla/vtt.js/issues/364 and https://github.com/jsg2021/vtt.js/tree/patch-1
node_modules/*
!node_modules/vtt.js

configuration.json

deploy.sh

scratch/
!.keep
