$color-background: #131315;
$color-background-active: #2c2a28;
$color-background-black: #000;
$color-background-modal: rgba(0, 0, 0, 0.7);
$color-foreground: #acacac;
$color-text: #f0f0f0;
$color-border: #3a3a3a;
$color-border-active: #666;
$color-border-dark: #2a2a2a;
$color-clip-rail: #05283b;
$color-rail: #51515a;
$color-rail-background: #000;
$color-accent: #0c89c7;
$color-accent-dark: #085d87;
$color-accent-seek-inactive: #042637;
$color-accent-highlight: #0ea5ef;
$color-error: #e33;
