@import "../variables";

.sidebar {
  align-items: center;
  background: var(--background-secondary);
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 100vh;
  padding: 25px 15px;

  &__button {
    border-radius: 3px;
    height: 55px;
    padding: 12px;
    width: 55px;
  }
}
