.content-block {
  border: 2px solid var(--content-border-color);
  border-radius: var(--content-border-radius);
}

.icon {
  height: 25px;
  width: 25px;
}

.monospace {
  font-family: var(--font-monospace);

  * {
    font-family: var(--font-monospace);
  }
}

.highlight {
  color: var(--text-highlight);
}

.toolbar {
  align-items: center;
  background: var(--background-toolbar);
  container-name: toolbar;
  container-type: inline-size;
  display: flex;
  gap: 10px;
  height: 45px;
  justify-content: center;
  padding-inline: var(--content-inline-padding);
  position: relative;

  &__description {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 1 1 0;
    gap: 10px;
    height: 100%;
    max-width: min(500px, 40%);
  }

  &__description-text {
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
  }

  &__description-icon {
    height: 25px;
    min-width: 25px;
    width: 25px;
  }

  &__separator {
    background: var(--text-disabled);
    height: 20px;
    margin-inline: 5px;
    width: 1px;
  }

  &__spacer {
    flex-grow: 1;
  }

  &__controls-group {
    align-items: center;
    display: flex;
    gap: 12px;

    &.left,
    &.center,
    &.right {
      position: absolute;
    }

    &.left {
      left: var(--content-inline-padding);
    }

    &.right {
      right: var(--content-inline-padding);
    }
  }
}

@container toolbar (width < 900px) {
  .toolbar__description {
    max-width: 30%;
  }
}
