.side-panel-section {
  align-items: center;
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__header{
    font-size: 24px;
    font-weight: 600;
  }
}

.side-panel {
  height: 100%;
}
