.browser-page {
  padding: 20px 40px;

  .tab {
    &--inactive {
      color: var(--text-tertiary);
    }
  }

  &__filters {
    align-items: center;
    display: flex;
    gap: 30px;
    margin: 10px 0;
    padding-right: 5px;
  }

  &__filter-input {
    border-radius: 5px;
    flex-grow: 1;

    input {
      background-color: transparent;
      border: 1px solid var(--table-border-color);
      border-radius: 8px;
      padding-inline: 15px;
    }
  }
}

.browser {
  --row-height: 55px;

  height: 100%;
  max-height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  width: 100%;

  &__header {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    gap: 15px;
    margin: 15px 0 5px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    * {
      min-width: max-content;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__header-back {
    border-radius: 5px;
    color: var(--text-secondary);
    height: 30px;
    width: 30px;
  }

  &__header-chevron {
    font-size: 10px;
    font-weight: 400;
    padding-top: 2px;
  }

  &__header-last {
    min-width: unset;
    text-overflow: ellipsis;
  }

  &__header-right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  &__id {
    color: var(--text-tertiary);
    font-size: 16px;
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-top: 20px;
    position: relative;
  }

  &__action--right {
    font-size: 16px;
    position: absolute;
    right: 0;
  }
}

.display-switch {
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  display: flex;
  height: 100%;
  overflow: hidden;

  &__button {
    align-items: center;
    background-color: var(--background-secondary);
    display: flex;
    height: 100%;
    justify-content: center;
    transition: background-color 0.25s ease;
    width: 50px;

    &--active {
      background-color: var(--background-toolbar--active);
    }
  }
}

.search-bar-container {
  align-items: center;
  display: flex;
  padding: 5px;
  position: relative;

  &__search-icon {
    height: 20px;
    margin-right: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    width: 20px;

    * {
      fill: var(--text-tertiary);
      height: 20px;
      stroke: var(--text-tertiary);
      width: 20px;
    }
  }

  &__button-left {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 60px;
    position: absolute;
  }

  &__right-buttons {
    align-items: center;
    display: flex;
    gap: 10px;
    position: absolute;
    right: 20px;

    * {
      color: var(--text-tertiary);
    }
  }

  &--ai {
    flex-grow: 1;

    * {
      color: var(--text-primary)!important;
    }

    input {
      background-color: var(--background-search-input);
      height: 50px;

      &::placeholder {
        color: var(--text-secondary);
        font-size: 18px;
      }
    }
  }
}

.search-bar {
  border: 0;
  border-radius: 30px;
  height: 45px;
  padding-inline: 25px;
  width: 100%;

  &--ai {
    padding-left: 60px;
  }
}

.active-item {
  margin-top: 20px;
  padding-left: 10px;
  width: max-content;

  &__header {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__content {
    border-radius: 8px;
    display: flex;
    gap: 20px;
    padding: 5px 10px;
    transition: background-color 0.25s ease;

    &:hover {
      background-color: var(--background-active);
    }
  }

  &__icons {
    align-items: center;
    display: flex;
    gap: 15px;
  }

  &__icon {
    height: 25px;
    width: 25px;

    &--pin {
      color: var(--text-highlight);
    }
  }

  &__id {
    color: var(--text-tertiary);
    font-size: 11px;
  }
}

.browser-table {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  min-height: calc(11 * var(--row-height));

  &--library {
    .browser-table__row {
      grid-template-columns: 1fr;
    }
  }

  &--object {
    .browser-table__row {
      grid-template-columns: 1fr 100px 200px;
    }

    &--no-duration {
      .browser-table__row {
        grid-template-columns: 1fr 200px;
      }
    }
  }

  &--composition {
    .browser-table__row {
      grid-template-columns: 1fr 100px 200px 100px;
    }
  }

  &--ground-truth {
    .browser-table__row {
      grid-template-columns: 1fr 200px 100px;
    }
  }

  &--my-library {
    .browser-table__row {
      grid-template-columns: 1fr 1fr 100px 200px 100px;
    }
  }

  &--loading,
  &--empty {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 200px;
  }

  &--with-active-item {
    min-height: calc(9 * var(--row-height));
  }

  &__row {
    border-bottom: 1px solid var(--table-border-color);
    display: grid;
    height: var(--row-height);
    max-height: var(--row-height);
    min-height: var(--row-height);
    padding-inline: 10px;
    transition: color 0.25s ease, background-color 0.1s ease;

    &:global {
      animation: 0.5s fadein ease;
    }

    &--content {
      &:not(:disabled) {
        cursor: pointer;

        &:hover {
          background-color: var(--background-active);
          transition: color 0.25s ease, background-color 0.3s ease;
        }
      }
    }

    &--disabled,
    &:disabled {
      color: var(--text-tertiary);
      cursor: unset;
    }
  }

  &__row-title {
    max-width: 100%;
    overflow: hidden;
    width: 100%;
  }

  &__row-title-main {
    align-items: center;
    display: flex;
    gap: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__row-title-id {
    color: var(--text-tertiary);
    font-size: 11px;
  }

  &__cell {
    align-items: center;
    display: flex;
    font-size: 14px;
    gap: 10px;
    height: var(--row-height);
    justify-content: flex-start;
    max-width: 100%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--header {
      font-weight: 700;
    }

    &--centered {
      justify-content: center;
    }

    &--padded {
      padding-inline: 20px;
    }
  }

  &__cell-icon {
    height: 25px;
    min-width: 25px;
    width: 25px;
  }

  &__cell-image {
    height: 100%;
    object-fit: contain;
    padding: 10px 0;
  }

  &__message {
    font-size: 20px;
    font-weight: 500;
  }

  &__live-tag {
    background-color: var(--background-toolbar);
    border-radius: 3px;
    color: var(--text-primary);
    font-size: 12px;
    font-weight: 800;
    padding: 1px 8px;

    &--active {
      background-color: red;
    }
  }

  @media screen and (height <= 900px) {
    --row-height: 50px;

    min-height: calc(9 * var(--row-height));


    &--with-active-item {
      min-height: calc(7 * var(--row-height));
    }
  }
}

.page-controls {
  display: flex;
  gap: 7px;
  height: 25px;
  justify-content: center;
  margin-top: 30px;
  width: 100%;

  &__button {
    border-radius: 5px;
    font-weight: 600;
    height: 35px;
    width: 35px;

    &--arrow {
      padding: 5px;

      &:disabled {
        opacity: 0;
      }
    }
  }
}

.ltv-form-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding-bottom: 100px;
  width: 100%;
}

.ltv-form {
  border: 1px solid var(--table-border-color);
  border-radius: 5px;
  height: max-content;
  padding: 30px;
  width: 600px;

  &__header {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    gap: 10px;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
    width: 100%;
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
}
