.browser-page {
  padding: 20px 40px;

  .tab {
    &--inactive {
      color: var(--text-tertiary);
    }
  }

  .browser {
    margin-top: 20px;
  }
}

.browser {
  --row-height: 55px;

  height: 100%;
  max-height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  padding: 5px;
  width: 100%;

  &__header {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    gap: 15px;
    margin: 15px 0 5px;
  }

  &__header-back {
    border-radius: 5px;
    color: var(--text-secondary);
    height: 30px;
    width: 30px;
  }

  &__header-chevron {
    font-size: 10px;
    font-weight: 400;
    padding-top: 2px;
  }
}

.search-bar {
  border: 0;
  border-radius: 30px;
  height: 45px;
  padding-inline: 25px;
  width: 100%;
}

.browser-table {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  min-height: calc(11 * var(--row-height));

  &--library {
    .browser-table__row {
      grid-template-columns: 1fr;
    }
  }

  &--object {
    .browser-table__row {
      grid-template-columns: 1fr 100px 200px;
    }

    &--no-duration {
      .browser-table__row {
        grid-template-columns: 1fr 200px;
      }
    }
  }

  &--composition {
    .browser-table__row {
      grid-template-columns: 1fr 100px 200px 100px;
    }
  }

  &--ground-truth {
    .browser-table__row {
      grid-template-columns: 1fr 200px;
    }
  }

  &--my-library {
    .browser-table__row {
      grid-template-columns: 1fr 100px 200px 100px;
    }
  }

  &__row {
    border-bottom: 1px solid var(--table-border-color);
    cursor: pointer;
    display: grid;
    height: var(--row-height);
    max-height: var(--row-height);
    min-height: var(--row-height);
    padding-inline: 10px;
    transition: color 0.25s ease, background-color 0.1s ease;

    &:global {
      animation: 0.5s fadein ease;
    }

    &--content {
      &:not(:disabled) {
        &:hover {
          background-color: var(--background-active);
          transition: color 0.25s ease, background-color 0.3s ease;
        }
      }
    }

    &--disabled,
    &:disabled {
      color: var(--text-tertiary);
      cursor: unset;
    }
  }

  &__row-title {
    max-width: 100%;
    overflow: hidden;
    width: 100%;
  }

  &__row-title-main {
    align-items: center;
    display: flex;
    gap: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__row-title-id {
    color: var(--text-tertiary);
    font-size: 11px;
  }

  &__cell {
    align-items: center;
    display: flex;
    font-size: 14px;
    gap: 15px;
    height: var(--row-height);
    justify-content: flex-start;
    max-width: 100%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--header {
      font-weight: 700;
    }

    &--centered {
      justify-content: center;
    }
  }

  &__cell-icon {
    height: 25px;
    min-width: 25px;
    width: 25px;
  }

  &__cell-image {
    height: 100%;
    object-fit: contain;
    padding: 10px 0;
  }

  &--loading,
  &--empty {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: calc(11 * var(--row-height));
  }

  &__message {
    font-size: 20px;
    font-weight: 500;
  }

  &__live-tag {
    background-color: var(--background-toolbar);
    border-radius: 3px;
    color: var(--text-primary);
    font-size: 12px;
    font-weight: 800;
    padding: 1px 8px;

    &--active {
      background-color: red;
    }
  }

  @media screen and (height <= 900px) {
    --row-height: 50px;

    min-height: calc(9 * var(--row-height));

    &--loading,
    &--empty {
      min-height: calc(9 * var(--row-height));
    }
  }
}

.page-controls {
  display: flex;
  gap: 7px;
  height: 25px;
  justify-content: center;
  margin-top: 30px;
  width: 100%;

  &__button {
    border-radius: 5px;
    font-weight: 600;
    height: 35px;
    width: 35px;

    &--arrow {
      padding: 5px;

      &:disabled {
        opacity: 0;
      }
    }
  }
}

.ltv-form-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding-bottom: 100px;
  width: 100%;
}

.ltv-form {
  border: 1px solid var(--table-border-color);
  border-radius: 5px;
  height: max-content;
  padding: 30px;
  width: 600px;

  &__header {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    gap: 10px;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
    width: 100%;
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
}
