/* Loader */
@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.spinner {
  --spinner-width: 5px;
  --spinner-color: #FFF;
  --spinner-color-background: #666;

  animation: spin 1.5s ease infinite;
  aspect-ratio: 1;
  border: var(--spinner-width) solid var(--spinner-color-background);
  border-radius: 100%;
  border-top-color: var(--spinner-color);
  display: inline-block;
  height: 100%;
  max-height: 50px;
  min-height: 30px;
}

.loader {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  &:global {
    animation: 0.5s fadein ease;
  }
}

.lazy-image {
  &__background {
    backdrop-filter: blur(20px);
    background: linear-gradient(120deg, var(--background-secondary), var(--background-active));
    /* stylelint-disable-next-line no-important */
    display: block;
    max-width: 100%;
    opacity: 0;
    overflow: hidden;

    &--animated {
      /* stylelint-disable-next-line no-important */
      animation: gradient 15s ease infinite!important;
      background: linear-gradient(-55deg, #617d91, #354b54, #000);
      background-size: 1000% 1000%!important;
    }

    &--visible {
      /* stylelint-disable-next-line no-important */
      opacity: 0.5!important;
    }

    &--error {
      background: black;
      opacity: 0.5;
    }
  }

  &__loader-image {
    display: block;
    /* stylelint-disable-next-line no-important */
    height: 2px!important;
    /* stylelint-disable-next-line no-important */
    opacity: 0!important;
    position: absolute;
    user-select: none;
    /* stylelint-disable-next-line no-important */
    width: 2px!important;
  }
}

.icon-button {
  --icon-size: 25px;

  align-items: center;
  border-radius: 3px;
  color: var(--text-secondary);
  display: flex;
  justify-content: center;
  max-height: var(--icon-size);
  max-width: var(--icon-size);
  min-height: var(--icon-size);
  min-width: var(--icon-size);
  padding: 2px;
  transition: color 0.25s ease, background-color 0.1s ease, opacity 0.25s ease;

  svg {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

  &:hover,
  &--active,
  &:focus-visible {
    &:not(:disabled) {
      &:not(.icon-button--disabled) {
        &:not(.icon-button--no-hover) {
          background: var(--background-active);
          color: var(--text-secondary);
          transition: color 0.25s ease, background-color 0.3s ease, opacity 0.25s ease;
        }
      }
    }
  }

  &:disabled,
  &--disabled {
    opacity: 0.5;
  }

  &__loader {
    height: 100%;
    width: 100%;

    * {
      --spinner-width: 3px;

      min-height: 15px;
    }
  }

  &--highlight {
    color: var(--text-highlight);
  }

  &--faded {
    color: var(--text-tertiary);
  }

  &--small {
    --icon-size: 20px;
  }

  &--large {
    --icon-size: 30px;
  }
}

.styled-button {
  align-items: center;
  animation: var(--animation-fadein) 0.25s ease;
  border-radius: 5px;
  display: flex;
  font-weight: 600;
  gap: 10px;
  height: 35px;
  justify-content: center;
  min-width: 120px;
  padding-inline: 25px;
  position: relative;
  transition: opacity 0.1s ease;


  &--loading {
    .styled-button__icon-container,
    .styled-button__children {
      opacity: 0;
    }
  }

  &:hover,
  &:focus-visible {
    opacity: 0.9;
    transition: opacity 0.25s ease;
  }

  &--primary {
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    color: var(--text-primary);
  }

  &--secondary {
    background-color: transparent;
    border: 1px solid var(--button-color);
    color: var(--button-text-color);
  }

  &:disabled,
  &--subtle {
    background: var(--background-modal);
    border: 1px solid var(--background-modal);
    color: var(--text-secondary);
  }

  &__children {
    animation: var(--animation-fadein) 0.25s ease;
  }

  &__icon-container,
  &__icon {
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
  }

  &.disabled,
  &:disabled {
    opacity: 0.7;
  }

  &--small {
    font-size: 12px;
    height: 30px;
    padding-inline: 15px;
  }

  &__loader-container {
    align-items: center;
    display: flex;
    inset: 0;
    justify-content: center;
    position: absolute;
    z-index: 1;
  }

  &__loader {
    height: 80%;
    width: 100%;

    * {
      --spinner-width: 3px;

      min-height: 10px;
    }
  }
}

.copy-button {
  background-color: transparent!important;
  transition: color 0.1s ease;

  &--copied {
    transition: color 1s ease;
  }
}

.copyable-field {
  align-items: center;
  display: flex;
  gap: 5px;

  &--show-hover {
    .copyable-field__button {
      opacity: 0;
      transition: opacity 0.25s ease;
      transition-delay: 0.5s;
    }

    &:hover {
      .copyable-field__button {
        opacity: 1;
        transition: opacity 0.25s ease;
      }
    }
  }

  &--copied {
    .copyable-field__button {
      opacity: 1;
    }
  }

  &__button {
    color: inherit;
    height: 1.5em;

    /*
    height: 18px;
    min-height: 18px;
    width: 18px;
    min-width: 18px;

     */
    min-height: 1.5em;
    min-width: 1.5em;
    width: 1.5em;
  }
}

.input {
  border-radius: 5px;

  &__input {
    background: var(--background-input);
    border: 0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;

    &:disabled {
      background: var(--background-input);
      color: var(--text-secondary);
      opacity: 1;
    }
  }

  &__icon {
    height: 20px;
  }

  &--highlight {
    border: 1px solid var(--text-highlight);
  }
}


.select {
  &__input {
    background: transparent;
    border: 0;
    color: var(--text-secondary);
    font-size: 16px;
    padding: 0;
    text-align: center;

    &:disabled {
      background: transparent;
      color: var(--text-secondary);
      cursor: default;
      opacity: 1;
    }
  }

  &__option {
    font-size: 12px;
  }
}

.smpte-input {
  max-width: 130px;
}

.form-input {
  position: relative;
  width: 100%;

  &__label {
    border-radius: 10px 0;
    color: var(--text-tertiary);
    font-size: 12px;
    font-weight: 600;
    left: 1px;
    padding: 7px 7px 7px 13px;
    position: absolute;
    top: 1px;
    z-index: 1;

    &--textarea {
      background-color: var(--background-modal);
    }

    &--textarea-disabled {
      background-color: transparent;
    }
  }

  &__input {
    background-color: var(--background-modal);
    border: 1px solid var(--text-disabled);
    border-radius: 10px;
    color: var(--text-primary);
    font-size: 14px;
    height: 57px;
    padding-top: 20px;

    &:disabled {
      color: var(--text-secondary);
    }
  }

  &__section-clickable {
    pointer-events: initial;
  }

  &__icon {
    color: var(--mantine-color-dark-3);
    height: 20px;
    width: 50px;
  }

  &__icon-button {
    cursor: pointer;
  }

  &__textarea {
    padding-top: 30px;
  }

  &__multiselect {
    font-size: 16px;
    height: max-content;
    min-height: 57px;
  }

  &__multiselect-list {
    height: max-content;
    margin-top: 10px;
  }

  &__multiselect-item {
    align-items: center;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    display: flex;
    font-size: 14px;
    height: 30px;
    justify-content: center;

    span,
    button {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    span {
      padding-bottom: 3px;
    }

    button {
      color: var(--text-tertiary);
    }
  }

  &__color-section {
    bottom: 0;
    height: calc(100% - 20px);
    top: unset;
  }

  &__color-preview {
    height: 15px;
    margin-left: 5px;
    min-height: 10px;
    min-width: 10px;
    width: 15px;
  }
}

.switch {
  border: 0;

  * {
    cursor: pointer;
    user-select: none;
  }

  &__thumb {
    background: var(--text-secondary);
    border: 0;
  }

  &__label {
    padding-left: 7px;
  }

  &__track {
    border: 1px solid var(--text-disabled);
  }
}

.slider-container {
  height: calc(var(--slider-height) + 1.3em);
  user-select: none;
  width: 100%;

  --slider-height: 20px;
}

.slider {
  cursor: pointer;
  position: relative;
  width: 100%;

  &__overlay {
    height: var(--slider-height);
    position: relative;
    width: 100%;
    z-index: 98;
  }

  &--active {
    background-color: red;
    height: var(--slider-height);
    opacity: 0.7;
    position: absolute;
  }

  &__active-indicator {
    background-color: var(--slider-color);
    height: 100%;
    opacity: 0.15;
    position: absolute;
  }

  &__handle {
    background-color: var(--slider-color);
    height: var(--slider-height);
    position: absolute;
    user-select: none;
    width: 2px;
    z-index: 100;

    &--active {
      background-color: blue;
    }

    &--disabled {
      pointer-events: none;
    }

    &--indicator {
      --slider-color: var(--slider-indicator-color);

      z-index: 50;
    }

    &--end,
    &--start {
      background: transparent;
      border: 1px solid var(--slider-indicator-color);
      border-left: 2px solid var(--slider-indicator-color);
      border-right: 0;
      opacity: 0.75;
      width: 6px;
    }

    &--end {
      border-left: 0;
      border-right: 2px solid var(--slider-indicator-color);
      margin-right: -2px;
    }

    &--circle {
      align-items: center;
      background: transparent;
      display: flex;
      width: var(--slider-height);

      &::after {
        background: var(--slider-color);
        border-radius: 100%;
        content: "";
        height: 10px;
        width: 10px;
      }
    }

    &--arrow {
      align-items: center;
      color: var(--slider-color);
      display: flex;
      font-size: 14px;
      justify-content: center;
      padding-bottom: calc(var(--slider-height) - 8px);
    }

    &--arrow-bottom {
      align-items: center;
      color: var(--slider-color);
      display: flex;
      font-size: 14px;
      justify-content: center;
      padding-top: calc(var(--slider-height) - 8px);
    }
  }

  &__connection {
    background-color: var(--slider-indicator-color);
    height: var(--slider-height);
    opacity: 0.3;
    position: absolute;
    z-index: 50;

    & + .slider__connection {
      display: none;
    }
  }

  &__marks-container {
    color: #333;
    cursor: auto;
    height: 20px;
    position: relative;
  }

  &__mark {
    display: flex;
    font-size: 11px;
    justify-content: center;
    position: absolute;
    transform: translateX(-50%);

    &--passed {
      color: #111;
    }
  }

  &__mark-notch {
    background-color: var(--slider-notch-color--minor);
    height: calc(var(--slider-height) / 3);
    margin-top: calc((-1 * var(--slider-height)) / 3);
    position: absolute;
    width: 1px;

    &--major {
      background-color: var(--slider-notch-color);
      height: calc(var(--slider-height) / 1.3);
      margin-top: calc((-1 * var(--slider-height)) / 1.3);
    }
  }

  &__mark-text {
    color: var(--text-secondary);
    padding-top: 5px;
    pointer-events: none;
    user-select: none;
  }
}

.preview-thumbnail {
  color: transparent;
  overflow: hidden;
  position: relative;

  * {
    color: transparent;
  }

  &__image {
    inset: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;

    &--current {
      z-index: 1;
    }

    &--broken {
      background: linear-gradient(120deg, var(--background-secondary), var(--background-active));
    }
  }

  &__progress {
    background-color: var(--text-highlight);
    bottom: 0;
    height: 4px;
    left: 0;
    position: absolute;
    z-index: 2;
  }

  &__duration {
    background-color: rgb(0 0 0 / 70%);
    border-radius: 5px;
    bottom: 10px;
    color: var(--text-secondary);
    font-size: 11px;
    font-weight: 500;
    padding: 3px 8px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    z-index: 1;
  }
}

.clip-time {
  align-items: center;
  display: flex;
  font-size: 14px;
  gap: 2px;
}

.confirm {
  &__title {
    font-size: 20px;
    font-weight: 500;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.progress {
  &__error-message {
    margin-bottom: 30px;
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
}

.infinite-scroll {
  &__loader {
    min-height: 120px;
  }
}
