.composition-track {
  background-color: var(--background-track);
  height: var(--track-height--compositions);
  position: relative;
  width: 100%;

  &__content {
    display: flex;
    inset: 0;
    position: absolute;
  }

  &__drop-indicator {
    animation: var(--animation-fadein) 0.25s ease;
    background-color: var(--text-highlight);
    box-shadow: 0 0 3px var(--text-highlight);
    height: 100%;
    pointer-events: none;
    position: relative;
    width: 2px;
    z-index: 1000;

    svg {
      color: var(--color-highlight);
      height: 16px;
      left: -7px;
      position: absolute;
      top: -5px;
      width: 16px
    }
  }
}

.clip {
  background-color: var(--background-clip);
  border: 1px solid var(--background-track);
  border-radius: 5px;
  height: 100%;
  padding: 2px;
  position: absolute;
  transition: background-color 0.15s ease, border 0.15s ease, box-shadow 0.15s ease;

  &:not(&--selected) {
    &:hover {
      background-color: var(--background-clip--hover);
    }
  }

  &--selected {
    background-color: var(--background-clip--selected);
    box-shadow: 0 0 3px var(--background-clip--selected);
  }

  &__thumbnail-container {
    border-radius: 5px;
    inset: 2px;
    overflow: hidden;
    position: absolute;
  }

  &__thumbnails {
    inset: 0;
    position: absolute;
  }
}

.dragged-clip {
  background-color: var(--background-clip);
  border: 1px solid var(--background-track);
  border-radius: 5px;
  height: var(--track-height--compositions);
  padding: 1px;
  position: absolute;
  z-index: 100;

  &__thumbnail-container {
    border-radius: 5px;
    inset: 2px;
    overflow: hidden;
    position: absolute;
  }

  &__thumbnails {
    inset: 0;
    position: absolute;
  }

  canvas {
    background-color: var(--background-toolbar);
  }
}

// Creation form


.composition-selection {
  align-items: center;
  animation: var(--animation-fadein) 0.5s ease;
  display: flex;
  gap: 12px;
  height: 100%;
  justify-content: center;
  width: 100%;

  --row-height: 50px;

  &__browser {
    max-height: 90vh;
    min-height: unset;
    padding: 40px 30px;

    --row-height: 50px;
  }

  &__creating {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
  }
}

.selection-block {
  align-items: center;
  background-color: var(--background-toolbar);
  border-radius: 5px;
  display: flex;
  gap: 15px;
  padding: 25px;
  text-align: left;
  transition: background-color 0.25s ease;
  width: 400px;

  &:hover {
    background-color: var(--background-toolbar--active);
  }

  &__image {
    aspect-ratio: 3/2;
    max-height: 75px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__title {
    font-weight: 600;
  }

  &__subtitle {
    color: var(--text-tertiary);
    font-size: 14px;
  }
}

.composition-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 600px;

  &__title {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    gap: 10px;
    margin-bottom: 5px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }
}

