 .header {
   align-items: center;
   color: var(--text-secondary);
   display: flex;
   font-size: 20px;
   font-weight: 600;
   gap: 10px;
   margin-bottom: 30px;
   position: relative;
   width: 100%;

  svg {
    height: 20px;
    width: 20px;
  }
 }

 .preview {
   &__header {
     font-size: 18px;
     font-weight: 600;
     margin-bottom: 10px;
   }

   &__container,
   &__thumbnail-container,
   &__thumbnail {
     width: 100%;

     img {
       width: 100%;
     }
   }

   &__container {
     background-color: var(--background-secondary);
     border-radius: 0 0 3px 3px;
     overflow: hidden;
   }

   &__details {
     align-items: flex-start;
     display: flex;
     gap: 20px;
     justify-content: space-between;
     padding: 10px 20px;
   }

   &__detail {
     label {
       color: var(--text-tertiary);
       font-size: 10px;
       font-weight: 600;
     }

     div {
       font-size: 12px;
       font-weight: 600;
     }
   }
 }

.download {
  display: grid;
  gap: 30px;
  grid-template-columns: 2fr 3fr;
  height: max-content;
  min-height: 525px;

  &__error {
    color: #faa;
    margin-top: 20px;
  }

  &__form {
    display: grid;
    gap: 20px;
    margin: 30px 0 10px;
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;

    &--loading {
      height: 45px;
    }
  }

  &__action {
    align-items: center;
    border-radius: 6px;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    height: 45px;
    justify-content: center;
    transition: background-color 0.15s ease, color 0.15s ease;
    width: 150px;
  }

  &__history {
    display: grid;
    gap: var(--gutter-size-y);
    margin-top: 20px;
    max-height: 550px;
    overflow-y: auto;
    padding-right: 10px;
    position: relative;
  }

  &__history-row {
    align-items: center;
    background-color: var(--background-active);
    border-radius: 5px;
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 90px;
    min-height: 35px;
    padding: 10px;

    &--highlighted {
      .download-modal__history-row-name {
        color: #9fbafd;
      }
    }

    &--header {
      background: #131315;
      border-bottom: 1px solid green;
      font-size: 16px;
      font-weight: 400;
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }

  &__history-row-name {
    font-size: 12px;
    font-weight: 600;
    max-width: 100%;
  }

  &__history-row-duration,
  &__history-row-status {
    font-size: 12px;
    margin-top: 2px;
    opacity: 0.5;
  }

  &__history-status {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    width: 100%;
  }

  &__history-button {
    border-radius: 6px;
    height: 30px;
    padding: 5px;
    transition: background-color 0.15s ease, color 0.15s ease;
    width: 30px;

    &:hover {
      background-color: #1a1a1a !important;
    }

    &:disabled {
      opacity: 0.5 !important;
      pointer: auto;
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &__history-actions {
    align-items: center;
    display: flex;
    gap: 10px;
  }

  &__message {
    color: var(--text-tertiary);
    font-size: 14px;
    margin: 20px 5px 10px;
  }

  progress {
    background-color: #000;
    border: 0;
    border-radius: 20px;
    height: 5px;
    width: 100%;
  }

  progress::-webkit-progress-bar {
    background-color: #000;
    border: 0;
    border-radius: 20px;
    height: 5px;
  }

  progress::-webkit-progress-value {
    background-color: var(--text-highlight);
    border: 0;
    border-radius: 20px;
    height: 5px;
  }

  progress::-moz-progress-bar {
    background-color: var(--text-highlight);
    border: 0;
    border-radius: 20px;
    height: 5px;
  }
}

 @keyframes fadeout {
   from { opacity: 1; }
   to { opacity: 0; }
 }

 @keyframes fadein {
   from { opacity: 0; }
   to { opacity: 1; }
 }

.thumbnail-preview {
  opacity: 0.75;
  position: relative;
  transition: opacity 0.25s ease;

  &--hover {
    opacity: 1;
  }

  &__previous {
    inset: 0;
    position: absolute;
    z-index: 0;
  }

  &__current {
    animation: 0.5s fadein ease forwards;
    z-index: 1;
  }
}
