.list-page {
  border-top: 1px solid var(--color-border);
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 400px;
  height: 100%;
  margin-top: 20px;
  max-height: calc(100vh - 250px);
  overflow: hidden;
}

.entity-grid {
  display: grid;
  gap: 40px 20px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: 20px;
  max-height: 100%;
  overflow-y: auto;
  padding-right: 10px;
  scrollbar-gutter: stable;

  &--empty {
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding-top: 100px;
  }
}

.entity-list {
  display: grid;
  gap: 3px;
  height: max-content;
  margin-top: 20px;
  max-height: 100%;
  overflow-y: auto;
  padding-right: 10px;
  scrollbar-gutter: stable;

  &--small {
    margin: 0;
    max-height: 200px;
    overflow-y: scroll;
    padding: 0;
  }
}

.entity-card {
  animation: 0.5s ease var(--animation-fadein);
  display: grid;
  gap: 10px;
  height: max-content;
  position: relative;
  width: 100%;

  &__image-container {
    aspect-ratio: 1;
    overflow: hidden;
    position: relative;
    transition: opacity 0.1s ease;
    width: 100%;

    &:focus-visible {
      box-shadow: none!important;

      &::after {
        border: 2px solid var(--color-highlight);
        border-radius: 10px;
        content: "";
        inset: 0;
        position: absolute;
      }
    }

    &:hover {
      opacity: 0.9;
      transition: opacity 0.25s ease;
    }
  }

  &__image {
    aspect-ratio: 1;
    background-color: black;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    width: 100%;

    &--contain {
      object-fit: contain;
      object-position: center;
    }

    &--blank {
      align-items: center;
      background-color: var(--background-secondary);
      display: flex;
      justify-content: center;

      svg {
        height: 50px;
        opacity: 0.5;
        width: 50px;
      }
    }
  }

  &__image-badge {
    bottom: 15px;
    color: var(--text-primary);
    filter: drop-shadow(0 0 2px black);
    height: 25px;
    left: 15px;
    position: absolute;
    width: 25px;
    z-index: 1;
  }

  &__text {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  &__title {
    align-items: center;
    display: flex;
    font-weight: 700;
    gap: 5px;
    max-width: calc(100% - 30px);
    width: 100%;
  }

  &__title-text {
    font-weight: 700;
    max-width: calc(100% - 30px);
  }

  &__count {
    color: var(--text-tertiary);
    font-size: 12px;
    padding-top: 2px;
    white-space: nowrap;
  }

  &__actions {
    align-items: center;
    display: flex;
    position: absolute;
    right: 0;

    * {
      color: var(--text-tertiary);
    }
  }

  &__action {
    border-radius: 5px;
    height: 25px;
    padding: 3px;
    width: 25px;

    svg {
      height: 100%;
      width: 100%;
    }

    &--active {
      background-color: var(--background-toolbar);
    }
  }

  &__tooltip {
    min-width: 200px;
  }

  &__tooltip-label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__tooltip-attribute {
    align-items: center;
    display: flex;
    gap: 10px;

    div {
      font-weight: 600;
    }
  }
}

.entity-list-item {
  align-items: center;
  background-color: var(--background-secondary);
  display: grid;
  gap: 15px;
  grid-template-columns: 80px 1fr 50px;
  height: 80px;
  overflow: hidden;
  transition: background-color 0.1s ease;
  width: 100%;

  &:hover {
    background-color: var(--background-toolbar--active);
    transition: background-color 0.25s ease;
  }

  .entity-card__image-container {
    border-radius: 0;
    height: 100%;
    width: auto;
  }

  .entity-card__image {
    border-radius: 0;
  }

  .entity-card__text {
    font-size: 20px;
  }

  .entity-card__title {
    font-weight: 600;
  }

  .entity-card__count {
    font-size: 16px;
  }

  .entity-card__image-badge {
    bottom: 5px;
    height: 15px;
    left: 5px;
    width: 15px;
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding-right: 10px;
  }

  &--small {
    grid-template-columns: 60px 1fr 100px;
    height: 60px;

    .entity-card__title {
      font-size: 12px;
    }

    .entity-list-item__actions {
      button {
        max-height: 20px;
        max-width: 20px;
        min-height: 20px;
        min-width: 20px;
      }
    }
  }
}

.card-menu {
  display: grid;
  padding: 5px 0;

  &__item {
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 10px 12px;
    transition: background-color 0.25s ease;
    width: 100%;

    &:hover {
      background-color: var(--background-toolbar--active);
    }

    &:disabled {
      background-color: transparent;
      opacity: 0.5;
    }

    svg {
      height: 20px;
      width: 20px;
    }
  }

  &__separator {
    background-color: var(--color-border);
    height: 1px;
    margin: 5px 0;
    width: 100%;
  }
}

.details {
  border: 1px solid var(--color-border);
  border-radius: 5px;
  color: var(--text-tertiary);
  height: max-content;
  margin-top: 20px;
  max-height: calc(100% - 20px);
  overflow-y: auto;
  padding: 20px 25px 50px;
  position: relative;

  &__edit {
    color: var(--text-tertiary);
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__break {
    margin: 25px 0;
  }

  &__header {
    font-variant: all-small-caps;
    margin-bottom: 10px;
  }

  &__title {
    color: var(--text-secondary);
    font-size: 20px;
  }

  &__subtitle {
    color: var(--text-secondary);
    font-size: 16px;
  }

  &__text {
    font-size: 14px;
  }

  &__description {
    white-space: pre-wrap;
  }

  &__indent {
    margin-left: 15px;
  }

  &__field {
    color: var(--text-secondary);
    display: grid;
    font-size: 14px;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-top: 5px;
    padding-bottom: 5px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-border);
    }

    label {
      color: var(--text-tertiary);
    }
  }
}

.asset-page {
  padding-top: 0;

  &__content {
    height: 100%;
    margin-top: 20px;
    max-height: calc(100% - 150px);
  }

  &__image-container {
    align-items: center;
    background-color: black;
    display: flex;
    height: calc(100% - 150px);
    justify-content: center;
    position: relative;
  }

  &__image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  &__image-link {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  &__details {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__title {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    gap: 10px;
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 10px;
  }

  &__description {
    background-color: var(--background-toolbar);
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px;
    max-height: 150px;
    min-height: 150px;
    overflow-y: auto;
    padding: 20px 50px 20px 20px;
    white-space: pre-wrap;
  }
}

.ground-truth-form {
  display: grid;
  gap: 10px;
  max-height: 80vh;
  padding-right: 20px;
  position: relative;

  &__header {
    align-items: center;
    display: flex;
    font-weight: 600;
    gap: 15px;
  }

  &__actions {
    align-items: center;
    background-color: var(--background-modal);
    bottom: 0;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding: 20px 0;
    position: sticky;
    width: 100%;
    z-index: 2;
  }

  &__browser {
    max-height: 90vh;
    min-height: unset;
    padding: 40px 30px;

    --row-height: 50px;
  }

  &__attributes {
    display: grid;
    gap: 10px;
  }

  &__add-attribute {
    align-items: center;
    background-color: var(--background-form-button);
    border-radius: 5px;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    gap: 10px;
    height: 50px;
    justify-content: center;
    margin-top: 10px;

    svg {
      height: 25px;
      width: 25px;
    }
  }

  &__error {
    color: var(--text-error);
    margin-top: 20px;
    text-align: center;
  }
}

.attribute-form {
  align-items: center;
  background-color: var(--background-modal);
  border: 1px solid var(--text-disabled);
  border-radius: 10px;
  display: flex;
  padding: 10px;
  width: 100%;

  &--dragging {
    border-radius: 0;

    .attribute-form__inputs {
      display: none;
    }

    .attribute-form__actions--right {
      display: none;
    }
  }

  &:not(.attribute-form--dragging) {
    .attribute-form__dragging-name {
      display: none;
    }
  }

  &--indicator-before {
    border-top: 1px solid var(--color-highlight);
  }

  &--indicator-after {
    border-bottom: 1px solid var(--color-highlight);
  }

  &__dragging-name {
    color: var(--text-secondary);
    font-size: 16px;
    font-weight: 600;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  &__inputs-label {
    color: var(--text-secondary);
    font-size: 12px;
  }

  &__actions {
    align-items: flex-start;
    color: var(--text-tertiary);
    display: flex;
    height: 100%;
    padding: 0 5px;
  }

  &__options-wrapper {
    position: relative;
    width: 100%;
  }

  &__options {
    color: var(--text-tertiary);
    height: 15px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15px;
  }
}
