@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.__mantine {
  &--tooltip {
    background-color: var(--background-active);
    border: 1px solid var(--background-secondary);
    box-shadow: 0 0 10px black;
    color: var(--text-primary);
    z-index: 100;
  }

  &--modal {
    &__header {
      align-items: center;
      display: flex;
      font-size: 20px;
      justify-content: space-between;
      padding: 10px 20px;
    }

    &__content {
      border: 1px solid var(--table-border-color);
      max-height: 95vh;
    }

    &__body {
      padding: 10px 20px;
    }
  }
}
