.__mantine {
  &--tooltip {
    background-color: var(--background-active);
    border: 1px solid var(--background-secondary);
    box-shadow: 0 0 10px black;
    color: var(--text-primary);
  }

  &--modal {
    &__header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
    }

    &__content {
      border: 1px solid var(--table-border-color);
    }

    &__body {
      padding: 10px 20px;
    }
  }
}
