@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.__mantine {
  &--tooltip {
    background-color: var(--tooltip-background);
    border: 1px solid var(--tooltip-border-color);
    box-shadow: var(--tooltip-box-shadow);
    color: var(--tooltip-text);
    z-index: 100;
  }

  &--modal {
    &__header {
      align-items: center;
      display: flex;
      font-size: 20px;
      justify-content: space-between;
      padding: 10px 20px;
    }

    &__content {
      border: 1px solid var(--tooltip-content-border-color);
      max-height: 95vh;
    }

    &__body {
      padding: 10px 20px;
    }
  }
}
