.nav {
  align-items: center;
  background: var(--background-secondary);
  border-radius: 0 var(--content-border-radius) 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100vh - var(--gutter-size-y));
  padding: 25px 10px;
  width: max-content;

  &__button {
    border-radius: 3px;
    color: var(--text-primary)!important;
    height: 50px;
    min-height: 50px;
    min-width: 50px;
    padding: 12px;
    position: relative;
    width: 55px;
  }

  &__change-indicator {
    background-color: var(--color-highlight);
    border-radius: 100%;
    height: 5px;
    opacity: 0.75;
    position: absolute;
    right: 7px;
    top: 7px;
    width: 5px;
  }

  &__label {
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 5px;
  }

  &__label-note {
    font-size: 11px;
  }
}

.active-menu {
  padding: 0 10px 10px;

  &__container {
    background: var(--background-modal);
    border: 0;
    box-shadow: 0 5px 5px rgb(0 0 0 / 50%);
  }

  &__title {
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 600;
  }

  &__name {
    font-weight: 800;
    max-width: 350px;
  }

  &__id {
    color: var(--text-tertiary);
    font-size: 12px;
  }

  &__button {
     margin-top: 10px;
  }
}
