.nav {
  align-items: center;
  background: var(--background-secondary);
  border-radius: 0 var(--content-border-radius) 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100vh - var(--gutter-size-y));
  padding: 25px 15px;
  width: max-content;

  &__button {
    border-radius: 3px;
    color: var(--text-disabled);
    height: 50px;
    min-height: 50px;
    min-width: 50px;
    padding: 12px;
    position: relative;
    width: 55px;
  }

  &__change-indicator {
    background-color: var(--color-highlight);
    border-radius: 100%;
    height: 5px;
    opacity: 0.75;
    position: absolute;
    right: 7px;
    top: 7px;
    width: 5px;
  }

  &__label {
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 5px;
  }


  &__label-note {
    font-size: 11px;
  }
}
