.content-block {
  animation: var(--animation-fadein) 0.4s linear;
  border: 2px solid var(--content-border-color);
  border-radius: var(--content-border-radius);
}

.icon {
  height: 25px;
  width: 25px;
}

.monospace {
  font-family: var(--font-monospace);

  * {
    font-family: var(--font-monospace);
  }
}

.highlight {
  color: var(--text-highlight);
}

.toolbar {
  align-items: center;
  background: var(--background-toolbar);
  container-name: toolbar;
  container-type: inline-size;
  display: flex;
  gap: 10px;
  height: 45px;
  justify-content: center;
  padding-inline: var(--content-inline-padding);
  position: relative;

  &__description {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 1 1 0;
    gap: 10px;
    height: 100%;
    max-width: min(500px, 40%);
  }

  &__description-text {
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
  }

  &__description-icon {
    height: 25px;
    min-width: 25px;
    width: 25px;
  }

  &__separator {
    background: var(--text-disabled);
    height: 20px;
    margin-inline: 5px;
    width: 1px;
  }

  &__spacer {
    flex-grow: 1;
  }

  &__switches {
    align-items: center;
    display: flex;
    flex-grow: 1;
    gap: 30px;
  }

  &__controls-group {
    align-items: center;
    display: flex;
    gap: 12px;

    &--tight {
      gap: 3px;
    }

    &.left,
    &.center,
    &.right {
      position: absolute;
    }

    &.left {
      left: var(--content-inline-padding);
    }

    &.right {
      right: var(--content-inline-padding);
    }
  }

  input {
    font-size: 12px;
  }

  @media screen and (width <= 1600px) {
    justify-content: space-between;

    &__controls-group {
      &.left,
      &.right,
      &.center {
        left: unset;
        position: relative;
        right: unset;
      }
    }
  }
}

.tooltip {
  display: grid;
  gap: 10px;

  &__item {
    font-size: 14px;
    font-weight: 500;
  }

  &__label {
    color: var(--text-secondary);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__content {
    max-height: 400px;
    max-width: 500px;
    overflow: hidden;

    pre {
      max-width: 500px;
      white-space: pre-wrap;
      word-break: break-all;
    }

    p {
      max-width: 500px;
      white-space: pre-wrap;
    }
  }
}

.form {
  &__inputs {
    display: grid;
    gap: 3px;
    width: 100%;
  }

  &__input-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%;
  }

  &__input-actions {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    padding-right: 10px;
    width: 100%;

    button {
      color: var(--text-tertiary);
      height: 20px;
      min-height: 20px;
      min-width: 20px;
      width: 20px;
    }
  }

  &__input-note {
    display: flex;
    font-size: 11px;
    gap: 5px;
    justify-content: flex-end;
    padding-right: 10px;
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
  }


  &__action {
    align-items: center;
    border-radius: 6px;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    justify-content: center;
    transition: background-color 0.15s ease, color 0.15s ease;
    width: 150px;
  }
}

.thumbnail-hover {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__image {
    width: 200px;
  }

  &__text {
    font-family: var(--font-monospace);
    font-size: 14px;
    text-align: center;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@container toolbar (width < 900px) {
  .toolbar__description {
    max-width: 30%;
  }
}
