.content-block {
  animation: var(--animation-fadein) 0.4s linear;
  border: 2px solid var(--content-border-color);
  border-radius: var(--content-border-radius);
}

.icon {
  height: 25px;
  width: 25px;
}

.monospace {
  font-family: var(--font-monospace);

  * {
    font-family: var(--font-monospace);
  }
}

.highlight {
  color: var(--text-highlight);
}

.toolbar {
  align-items: center;
  background: var(--background-toolbar);
  container-name: toolbar;
  container-type: inline-size;
  display: flex;
  gap: 10px;
  height: 45px;
  justify-content: center;
  padding-inline: var(--content-inline-padding);
  position: relative;

  &__description {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 1 1 0;
    gap: 10px;
    height: 100%;
    max-width: min(500px, 40%);
  }

  &__description-text {
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
  }

  &__description-icon {
    height: 25px;
    min-width: 25px;
    width: 25px;
  }

  &__separator {
    background: var(--text-disabled);
    height: 20px;
    margin-inline: 5px;
    min-width: 1px;
    width: 1px;
  }

  &__spacer {
    flex-grow: 1;
  }

  &__switches {
    align-items: center;
    display: flex;
    flex-grow: 1;
    gap: 30px;
  }

  &__controls-group {
    align-items: center;
    display: flex;
    gap: 12px;

    &--tight {
      gap: 3px;
    }

    &.left,
    &.center,
    &.right {
      position: absolute;
    }

    &.left {
      left: var(--content-inline-padding);
    }

    &.right {
      right: var(--content-inline-padding);
    }
  }

  input {
    font-size: 12px;
  }

  @media screen and (width <= 1600px) {
    justify-content: space-between;

    &__controls-group {
      gap: 5px;

      &.left,
      &.right,
      &.center {
        left: unset;
        position: relative;
        right: unset;
      }
    }
  }
}

.tooltip {
  display: grid;
  gap: 10px;

  &--transparent {
    --tooltip-background: transparent;
    --tooltip-border-color: 0;
    --tooltip-box-shadow: none;
    --tooltip-content-border-color: none;
  }

  &__item {
    font-size: 14px;
    font-weight: 500;
  }

  &__label {
    color: var(--text-secondary);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__content {
    max-height: 300px;
    max-width: 500px;
    overflow: hidden;

    pre {
      max-width: 500px;
      white-space: pre-wrap;
      word-break: break-all;
    }

    p {
      max-width: 500px;
      white-space: pre-wrap;
    }
  }

  &--fixed {
    .tooltip__content {
      max-height: 80vh;
      max-width: 700px;

      p, pre {
        max-width: 700px;
      }
    }
  }
}

.form {
  &__title {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    gap: 5px;
    margin: 5px 0 10px;
  }

  &__section-header {
    font-size: 14px;
    font-weight: 600;
    margin: 20px 0 10px;
  }

  &__message {
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__inputs {
    display: grid;
    gap: 3px;
    width: 100%;
  }

  &__input-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
  }

  &__input-container-loader {
    border-radius: 10px;
  }

  &__input-actions {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    padding-right: 10px;
    width: 100%;

    button {
      color: var(--text-tertiary);
      height: 20px;
      min-height: 20px;
      min-width: 20px;
      width: 20px;
    }
  }

  &__input-note {
    display: flex;
    font-size: 11px;
    gap: 5px;
    justify-content: flex-end;
    padding-right: 10px;
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
  }


  &__action {
    align-items: center;
    border-radius: 6px;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    justify-content: center;
    transition: background-color 0.15s ease, color 0.15s ease;
    width: 150px;
  }

  &__image-selection {
    background-color: var(--background-input);
    border: 1px solid var(--table-border-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5px;
    max-width: 300px;
    padding: 10px;

    button,
    img,
    object {
      width: 100%;
    }
  }

  &__image {
    margin: 0 auto 10px;
    max-height: 200px;
    max-width: 200px;
  }

  &__loader {
    padding: 20px 0;
  }
}

.thumbnail-hover {
  display: flex;
  flex-direction: column;
  gap: 5px;
  user-select: none;

  &__image {
    width: 200px;
  }

  &__time,
  &__text {
    font-size: 12px;
    max-height: 150px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }

  &__time {
    font-size: 11px;
    opacity: 0.6;
    white-space: nowrap;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@container toolbar (width < 900px) {
  .toolbar__description {
    max-width: 30%;
  }
}


/* Entity lists */

.list-page {
  border-top: 1px solid var(--color-border);
  display: grid;
  gap: 20px;
  height: 100%;
  margin-top: 20px;
  max-height: calc(100vh - 250px);
  overflow: hidden;
  padding-top: 20px;

  &--with-sidebar {
    grid-template-columns: 1fr 400px;
  }

  &--search {
    max-height: calc(100vh - 175px);
  }
}

.entity-grid {
  display: grid;
  gap: 30px 10px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  max-height: 100%;
  overflow-y: auto;
  padding-right: 10px;
  scrollbar-gutter: stable;

  &--empty {
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding-top: 100px;
  }
}

.entity-list {
  display: grid;
  gap: 3px;
  height: max-content;
  max-height: 100%;
  overflow-y: auto;
  padding-right: 10px;
  scrollbar-gutter: stable;

  &--small {
    margin: 0;
    max-height: 200px;
    overflow-y: scroll;
    padding: 0;
  }
}

.grouped-entity-list {
  display: grid;
  gap: 30px;
  height: max-content;
  max-height: 100%;
  overflow-y: auto;
  padding: 0 10px 30px;
  scrollbar-gutter: stable;

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &--small {
    gap: 15px;
    padding-inline: 0;

    .grouped-entity-list__title {
      font-size: 18px;
    }
  }
}
