.side-panel-section {
  align-items: center;
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__header{
    font-size: 24px;
    font-weight: 600;
  }
}

.side-panel {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  position: relative;
  width: 100%;
}

.side-panel-modal {
  background-color: var(--background-primary);
  inset: 0;
  position: absolute;
  z-index: 10;

  & > div {
    animation: var(--animation-fadein) 0.35s ease;
  }
}

.search {
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 10px 10px 5px;
  width: 100%;

  &__input {
    max-width: unset;
    width: 100%;

    & > div,
    input {
      background-color: #D7D7D7;
      border-radius: 20px;
      color: var(--text-light-bg);
      font-weight: 500;
      height: 100%;
      padding-bottom: 1px;
      text-align: left;
    }

    input {
      padding-inline: 15px;

      &::placeholder {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  &__toggle {
    align-items: center;
    display: flex;
    gap: 5px;
    padding: 0 10px 0 5px;

    label {
      color: var(--text-light-bg);
      font-size: 12px;
      white-space: nowrap;
    }
  }

  &__toggle-bg {
    background-color: var(--background-toolbar--highlight);

    input:checked + & {
      background-color: var(--color-highlight);
    }
  }

  &__buttons {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-right: 10px;
  }

  &__button {
    align-items: center;
    color: var(--text-tertiary);
    display: flex;
    height: 20px;
    justify-content: center;
    width: 20px;
  }

  &__index-menu {
    max-height: 400px;
    overflow-y: auto;
    position: relative;
  }

  &__index-title {
    background-color: var(--background-toolbar);
    box-shadow: 0 0 3px var(--background-primary);
    font-weight: 500;
    padding: 10px;
    position: sticky;
    top: 0;
  }

  &__index-option {
    font-size: 14px;
    min-height: 45px;
    padding: 10px;
    text-align: left;
    transition: background-color 0.15s ease, color 0.15s ease;
    width: 100%;

    &:hover {
      &:not(.search__index-option--active) {
        background-color: var(--background-active);
      }
    }

    &--active {
      background-color: var(--background-toolbar--highlight);
    }
  }

  &__index-option-name {
    color: var(--text-primary);
  }

  &__index-option-id {
    color: var(--text-secondary);
    font-size: 10px;
  }
}

.count {
  align-items: center;
  color: var(--text-tertiary);
  display: flex;
  font-size: 10px;
  margin-left: 15px
}

.track-options {
  align-items: center;
  background-color: var(--background-secondary);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  height: max-content;
  padding: 10px 25px 10px 15px;
  position: relative;
  user-select: none;

  &__placeholder {
    align-items: center;
    color: var(--text-secondary);
    display: flex;
    font-size: 12px;
    font-weight: 500;
    justify-content: space-between;
    width: 100%;

    svg {
      color: var(--text-tertiary);
      height: 15px;
      width: 15px;
    }
  }

  &__clear {
    position: absolute;
    right: 5px;
    top: 5px;

    &:hover {
      background-color: transparent!important;
    }
  }

  &__dropdown {
    animation: var(--animation-fadein) 0.15s ease;
    background-color: var(--background-toolbar);
    border: 1px solid var(--background-toolbar--active);
    border-top: 0;
    box-shadow: 8px 8px 10px var(--background-secondary);
  }
}

.track-option {
  align-items: center;
  display: flex;
  font-weight: 500;
  gap: 10px;

  &--pill {
    background-color: var(--background-toolbar);
    border-radius: 10px;
    font-size: 12px;
    padding: 3px 8px 3px 10px;
  }

  &__color {
    border-radius: 100%;
    min-height: 10px;
    min-width: 10px;
  }
}

.selected-list {
  display: grid;
  gap: 5px;

  &__actions {
    padding: 8px 10px;
  }
}

.list,
.tags {
  align-content: start;
  display: grid;
  gap: 3px;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  overflow: hidden scroll;
  padding: 0 10px 10px;
  width: 100%;
}

.tag {
  align-items: center;
  background-color: var(--background-tag);
  border-radius: 5px;
  display: flex;
  gap: 15px;
  height: 70px;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  padding-left: 15px;
  position: relative;
  text-align: left;
  transition: background-color 0.25s ease;
  width: 100%;

  &__left {
    align-items: center;
    border-radius: 5px;
    display: flex;
    gap: 15px;
    height: 100%;
    max-width: 100%;
  }

  &--thumbnail {
    .tag__content,
    .tag__track {
      max-width: calc(var(--panel-width) - 250px);
    }
  }

  &--hover {
    background-color: var(--background-tag--hover);
  }

  &--selected {
    background-color: var(--background-tag--selected);
  }

  &__tooltip {
    max-height: 500px;
    max-width: 500px;
    overflow: hidden;
    white-space: pre-wrap;
    word-break: break-all;
  }

  &__color {
    height: 100%;
    left: 0;
    position: absolute;
    width: 4px;
  }

  &__image {
    background-color: black;
    height: 60px;
  }

  &__text {
    font-size: 12px;

    &--text {
      font-size: 14px;
    }
  }

  &__text,
  &__track,
  &__time {
    max-width: calc(var(--panel-width) - 150px);
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
  }

  &__track {
    color: var(--text-tertiary);
    font-size: 12px;
  }

  &__time {
    align-items: center;
    color: var(--text-tertiary);
    display: flex;
    font-family: var(--font-monospace);
    font-size: 12px;
    gap: 5px;
  }

  &__actions {
    display: flex;
    gap: 5px;
    height: 100%;
    justify-content: center;
    padding: 10px 5px 10px 10px;
  }

  &__action {
    height: 17px;
    min-height: 17px;
    min-width: 17px;
    width: 17px;
  }
}

.assets {
  align-content: start;
  background-color: var(--background-toolbar);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  height: 100%;
  max-width: 100%;
  min-height: 0;
  overflow: hidden scroll;
  padding: 15px 10px;
  width: 100%;
}

.asset {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 10px;
  position: relative;
  transition: background-color 0.25s ease, color 0.25s ease;

  &:hover {
    background-color: var(--background-tag--hover);
  }

  &--selected {
    background-color: var(--background-tag--selected);
    color: var(--text-primary);

    &:hover {
      background-color: var(--background-tag--selected);
    }
  }

  &__image {
    aspect-ratio: 1;
    background-color: var(--background-primary);
    object-fit: contain;
    width: 100%;
  }

  &__name {
    font-size: 10px;
    font-weight: 600;
    word-break: break-all;
  }
}


.tag-details {
  align-content: start;
  display: block;
  gap: 3px;
  height: 100%;
  min-height: 0;
  overflow: hidden auto;
  width: 100%;

  &--track {
    display: grid;
    gap: 5px;
  }

  &__content {
    padding: 0 10px 30px;
  }

  &__thumbnail-container {
    background-color: black;
    margin-bottom: 10px;
    width: 150px;
  }

  &__thumbnail {
    width: 100%;
  }

  &__detail {
    display: grid;
    font-size: 14px;
    grid-template-columns: 120px 1fr;
    width: 100%;

    label {
      font-weight: 600;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-right: 20px;
    text-align: left;
    white-space: pre-wrap;

    &--json {
      background-color: var(--background-secondary);
      border-radius: 3px;
      font-size: 12px;
      padding: 10px;
    }
  }

  &__actions {
    align-items: center;
    background-color: var(--background-toolbar);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 100%;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  &__left-actions,
  &__right-actions {
    align-items: center;
    display: flex;
    gap: 10px;
  }

  &__left-actions {
    left: 10px;
  }

  &__right-actions {
    right: 10px;
  }

  &__track {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    gap: 10px;
    justify-content: center;
    width: 100%;
  }

  &__track-color {
    border-radius: 100%;
    height: 8px;
    width: 8px;
  }

  &__track-label {
    max-width: calc(100% - 100px);
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.add-asset {
  aspect-ratio: 1;
  border: 1px solid var(--text-tertiary);
  border-radius: 3px;
  margin: 10px 10px 0;
  transition: box-shadow 0.15s ease;

  &:hover {
    box-shadow: 0 0 5px var(--text-tertiary);
  }
}


// Compositions

.composition-clips {
  height: 100%;
  overflow-y: scroll;
  padding: 10px;

  &__loader {
    height: 30px;
    margin-top: 60px;
    width: 100%;
  }

  &__title {
    align-items: center;
    color: var(--text-primary);
    display: flex;
    font-size: 18px;
    font-weight: 500;
    gap: 10px;
    margin-bottom: 10px;

    svg {
      height: 25px;
      width: 25px;
    }
  }

  &__list {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    padding-bottom: 20px;
    width: 100%;
  }

  &__drag-indicator {
    align-items: center;
    background-color: var(--background-primary);
    display: flex;
    font-size: 20px;
    font-weight: 500;
    gap: 10px;
    inset: 0;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: opacity 0.15s ease;
    user-select: none;
    z-index: 1;

    &--active {
      opacity: 0.8;
      pointer-events: unset;
    }
  }
}

.clip {
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  position: relative;
  transition: opacity 0.25s ease;

  &:hover {
    opacity: 0.8;

    .clip__action {
      opacity: 1;
    }
  }

  &--active {
    box-shadow: 0 0 5px var(--text-highlight);
  }

  &__image {
    border-radius: 5px;
    margin-bottom: 5px;
  }

  &__name {
    font-size: 12px;
  }

  &__time {
    color: var(--text-tertiary);
    flex-wrap: wrap;
    font-size: 10px;
  }

  &__action {
    background-color: var(--background-active);
    border-radius: 5px;
    color: var(--text-primary);
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: opacity 0.25s ease;
    z-index: 10;
  }
}

.composition-browser {
  height: 100%;
  overflow-y: hidden;

  &__empty {
    align-items: center;
    color: var(--text-tertiary);
    display: flex;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    padding: 0 10px 20px;
  }

  &__item {
    align-items: center;
    display: flex;
    gap: 10px;
    min-height:  40px;
    padding: 5px;
    transition: background-color 0.15s ease;

    &:hover {
      background-color: var(--background-active);
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--table-border-color);
    }
  }
}
