.header {
  margin-bottom: 20px;
}

.form {
  animation: var(--animation-fadein) 0.15s ease-out;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  max-height: calc(100vh - 180px);
  overflow-y: auto;
}

.block {
  background-color: var(--background-secondary);
  border-radius: 5px;
  padding: 15px 20px 30px;

  &__title {
    align-items: center;
    border-bottom: 1px solid var(--table-border-color);
    display: flex;
    font-size: 20px;
    font-weight: 600;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

.groups {
  display: grid;
  padding: 10px 0 0 20px;
  width: 100%;

  &--double {
    grid-template-columns: 2fr 3fr;
  }

  &--summary {
    gap: 20px;
  }
}

.group {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &--summary {
    gap: 0;
    max-width: 600px;

    .group__title {
      justify-content: space-between;
    }
  }

  &__title {
    align-items: center;
    display: flex;
    font-weight: 800;
    gap: 10px;
  }

  .group__title-column-header {
    color: var(--text-tertiary);
    font-size: 14px;
    text-align: right;
  }

  .summary-item-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    max-width: 600px;
    padding: 10px;
    transition: background-color 0.25s ease;
    width: 100%;

    &:not(:last-child) {
      border-bottom: 1px solid var(--table-border-color);
    }

    &:hover {
      background-color: var(--background-active);
    }
  }

  .summary-item {
    font-size: 14px;

    &--none {
      color: var(--text-tertiary);
      margin-left: 20px;
    }
  }

  .summary-item-option {
    color: var(--text-tertiary);
    font-size: 14px;
    margin-left: 20px;

    &:empty {
      display: none;
    }
  }
}
