.timeline-section {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__bottom-bar {
    bottom: 0;
    box-shadow: 0 0 10px var(--background-primary);
    gap: 15px;
    max-width: calc(100vw - 90px);
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  &__content {
    display: grid;
    gap: 3px;
    max-height: calc(100% - 90px);
    min-height: 0;
    overflow-y: auto;
    overscroll-behavior: none;
    overscroll-behavior-y: contain;
    position: relative;

    &--selection {
      height: 100%;
    }
  }

  &--simple {
    --track-height--thumbnails: 80px;

    .timeline-row {
      grid-template-columns: 1fr;
    }

    .timeline-row__label {
      display: none;
    }
  }
}

.tag-tools {
  align-items: center;
  background-color: var(--background-toolbar--highlight);
  border-radius: 10px;
  display: flex;
  gap: 10px;
  margin-inline: 10px;
  padding: 3px 15px;

  &__label {
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 500;
    margin-right: 5px;
  }
}

.jump-to {
  align-items: center;
  display: flex;
  gap: 10px;

  @media screen and (width <= 1600px) {
    label {
      display: none;
    }
  }
}

.playhead-indicator {
  background-color: var(--text-highlight);
  box-shadow: 0 0 10px var(--text-disabled);
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 2px;
  z-index: 1;

  &--hover {
    background-color: var(--text-highlight-secondary);
    opacity: 0.25;
    pointer-events: none;
  }
}

.timeline-row {
  animation: var(--animation-fadein) 0.5s ease;
  background: var(--background-primary);
  display: grid;
  gap: 3px;
  grid-template-columns: 200px 1fr;
  height: var(--track-height);
  max-width: 100%;
  overflow: hidden;
  padding-right: 2px;
  width: 100%;

  &--seek {
    height: 40px;

    .timeline-row__label,
    .timeline-row__content {
       height: 40px;
    }
  }

  &--thumbnails {
    height: var(--track-height--thumbnails);

    .timeline-row__label,
    .timeline-row__content {
      height: var(--track-height-thumbnails);
      max-height: var(--track-height--thumbnails);
    }
  }

  &--composition {
    height: var(--track-height--compositions);

    .timeline-row__label,
    .timeline-row__content {
      height: var(--track-height--compositions);
      max-height: var(--track-height--compositions);
    }
  }

  &--selected {
    .timeline-row__label {
      background-color: var(--background-toolbar--active);
    }
  }

  &__label {
    align-items: center;
    background-color: var(--background-toolbar);
    display: flex;
    font-size: 12px;
    height: var(--track-height);
    justify-content: flex-start;
    padding-inline: var(--content-inline-padding);
    position: relative;
    text-align: left;
    transition: background-color 0.25s ease;
  }

  &__icon {
    color: var(--text-tertiary);
    height: 20px;
    min-height: 20px;
    min-width: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
  }

  &__content {
    background: var(--background-toolbar);
    height: var(--track-height);
    max-height: var(--track-height);
    max-width: 100%;
    overflow: hidden;
  }
}

.seek-bar-container {
  background: var(--background-primary);
  box-shadow: 0 0 10px var(--background-track);
  position: sticky;
  top: 0;
  z-index: 3;

  &__spacer {
    background: var(--background-primary);
  }
}

.scale-bar-container {
  background: var(--background-primary);
  bottom: 0;
  height: 60px;
  position: sticky;
  z-index: 3;

  --slider-color: var(--text-highlight-secondary);
  --slider-indicator-color: var(--text-highlight);

  &__label {
    align-items: center;
    background: var(--background-primary);
    display: flex;
    font-family: var(--font-monospace);
    font-size: 11px;
    font-weight: 500;
    gap: 5px;
    height: 100%;
    justify-content: center;
    padding-inline: 0;
    user-select: none;
  }
}

.scale-bar {
  &__current-time {
    background: var(--text-highlight--default) !important;
  }
}

.clip-form {
  &__preview {
    border-radius: 10px;
    margin-bottom: 5px;
  }

  &__title {
    font-weight: 600;
  }

  &__details {
    color: var(--text-tertiary);
    display: flex;
    font-size: 14px;
    font-weight: 500;
    gap: 5px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
}


.error-message {
  align-items: center;
  color: var(--text-error);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
