.track-container {
  background-color: var(--background-track);
  height: 100%;
  position: relative;
  width: 100%;
}

.track {
  height: 100%;
  width: 100%;
  z-index: 1;

  &__canvas {
    height: 100%;
    width: 100%;
    z-index: 2;
  }
}


.thumbnail-track {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;

  &__thumbnail {
    pointer-events: none;
    user-select: none;
  }

  &__cover {
    inset: 0;
    position: absolute;
  }
}


.thumbnail-tooltip {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.tooltip-overlay {
  inset: 0;
  position: absolute;
  z-index: 1;
}

.tooltip {
  display: grid;
  gap: 10px;

  &__item {
    font-size: 14px;
    font-weight: 500;
  }

  &__timestamps {
    color: var(--text-secondary);
    font-family: var(--font-monospace);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__content {
    max-height: 200px;
    max-width: 500px;
    overflow: hidden;

    pre {
      max-width: 500px;
      white-space: pre-wrap;
      word-break: break-all;
    }

    p {
      max-width: 500px;
      white-space: pre-wrap;
    }
  }
}
