.track-container {
  background-color: var(--background-track);
  height: 100%;
  position: relative;
  width: 100%;
}

.track {
  height: 100%;
  width: 100%;
  z-index: 1;

  &__canvas {
    height: 100%;
    width: 100%;
    z-index: 2;
  }
}


.thumbnail-track {
  align-items: center;
  cursor: pointer;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  position: relative;

  &__thumbnail {
    border: 1px solid black;
    color: transparent;
    pointer-events: none;
    user-select: none;
  }

  &__cover {
    inset: 0;
    position: absolute;
  }
}


.thumbnail-tooltip {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.tooltip-overlay {
  inset: 0;
  position: absolute;
  z-index: 120;
}

.tooltip {
  &__timestamps {
    color: var(--text-secondary);
    font-family: var(--font-monospace);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}

.thumbnail-creation-track {
  align-items: center;
  display: flex;
  justify-content: center;

  &__status {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    gap: 7px;
    user-select: none;
  }
}
