$grid-icon-width: 15rem;

.assets-page {
  flex: 1 1 auto;
  padding: 0 $elv-spacing-m $elv-spacing-m;
}

.assets-page-header {
  align-items: center;
  display: flex;
  font-size: $elv-font-xl;
  font-weight: normal;
  height: 4rem;
  position: relative;

  .back-button {
    margin-right: $elv-spacing-s;
  }
}

.assets-list {
  display: grid;
  grid-gap: $elv-spacing-xs;
  grid-template-columns: repeat(auto-fill, minmax($grid-icon-width, 1fr));

  &.empty {
    align-items: center;
    display: flex;
    font-size: $elv-font-xl;
    height: 100%;
    justify-content: center;
    min-height: 50vh;
    width: 100%;
  }
}

.asset-entry {
  background-color: $color-background-black;
  border: 1px solid $color-border-dark;
  cursor: pointer;
  display: grid;
  grid-template-rows: 1fr 3rem;
  height: $grid-icon-width;

  .asset-title {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 0 $elv-spacing-l 0 $elv-spacing-xs;
    position: relative;
    word-break: break-all;
  }

  .tag-icon {
    height: $elv-spacing-s;
    margin-top: $elv-spacing-xxs;
    position: absolute;
    right: $elv-spacing-xxs;
    width: $elv-spacing-s;
  }

  .asset-icon {
    height: 100%;
    object-fit: contain;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
  }

  img {
    background-color: $color-background-black;
  }

  &:hover {
    background-color: $color-background-active;
  }
}

.asset-info {
  .asset-image-container {
    background-color: $color-background-black;
    display: flex;
    justify-content: center;
    max-height: 60vh;
    min-height: 60vh;
    position: relative;

    canvas,
    img {
      height: 100%;
      max-height: 60vh;
      max-width: 100%;
      object-fit: contain;
      position: absolute;
      width: auto;
    }

    .overlay-container {
      position: absolute;
    }
  }

  .additional-tags {
    padding: $elv-spacing-s $elv-spacing-xs;

    h3 {
      font-size: $elv-font-l;
    }

    .additional-tag {
      color: $elv-color-text-lightest;
    }
  }
}

.asset-sort-filter,
.asset-page-buttons {
  align-items: center;
  display: flex;
  height: 2rem;
  position: absolute;
  right: 0;

  .asset-filter-button {
    height: 100%;
    margin-right: $elv-spacing-xxs;
    padding: $elv-spacing-xxs;
    width: 2rem;

    &.active,
    &:hover {
      background-color: $color-background-active;
    }
  }
}

.asset-page-buttons {
  button {
    width: 5rem;

    &:disabled {
      border: 1px solid $color-border-dark;

      &:hover {
        background-color: $color-background;
      }
    }
  }
}

.asset-filter {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;

  input {
    background: $color-background-active;
    border: $color-border-active;
    color: $color-foreground;
    font-size: $elv-font-xl;
    height: 100%;
    padding: 0 $elv-spacing-xs;
    width: 100%;
  }

  .asset-filter-clear {
    height: $elv-spacing-s;
    position: absolute;
    right: $elv-spacing-xxs;
    width: $elv-spacing-s;
  }
}

.asset-tags {
  margin-bottom: $elv-spacing-xl;

  h3 {
    margin: $elv-spacing-xs 0;
  }
}

.asset-category-tags {
  display: flex;
  flex-wrap: wrap;

  .asset-tag {
    @include elv-ellipsis;
    border-radius: $elv-spacing-xxs;
    color: $elv-color-text-white;
    cursor: pointer;
    margin-bottom: $elv-spacing-xs;
    margin-right: $elv-spacing-xs;
    max-width: 10rem;
    padding: $elv-spacing-xs $elv-spacing-s;
  }
}
