@import "variables";

* {
  font-family: Inter, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background: var(--background-primary);
}

.page-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}
