.clip-view-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  .video-level {
    max-height: 50vh;
    min-height: 50vh;
  }
}

.clip-video-container {
  display: flex;
  flex: 1 1 auto;
  max-width: 50%;
  min-width: 50%;

  &:first-child {
    border-right: 2px solid $color-border-dark;
  }
}

.video-level {
  border-bottom: 2px solid $color-border-dark;
}

.lower-level {
  display: flex;
  flex: 1 1 auto;
  max-height: calc(50vh - 55px);
}

.clip-bin-container {
  max-height: 100%;
  padding: $elv-spacing-s $elv-spacing-xs;
  width: 500px;

  .resize-handle {
    cursor: e-resize;
    height: 100%;
    right: 0;
    top: 0;
    width: 0;
  }
}

.clip-bin {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding: 0 $elv-spacing-xs;
  width: 100%;
}

.clip {
  border: 2px solid $color-border;
  display: flex;
  flex-direction: column;
  margin-bottom: $elv-spacing-xs;
}

.clip-preview-container {
  padding-top: 56.25%;
  position: relative;
  width: 100%;

  .clip-preview {
    bottom: 0;
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: top;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.clip-info {
  display: flex;
  justify-content: center;
  padding: $elv-spacing-xs 0;
}

.clip-time {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
}

.clip-timeline-container {
  background-color: $color-background;
  border-left: 2px solid $color-border-dark;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  padding: $elv-spacing-s;
  width: 100%;
}

.clip-timeline {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
}

.clip-timeline-clip {
  background-color: $color-background-active;
  border-radius: 2px;
  position: absolute;

  .clip-info {
    height: 2rem;
    overflow: hidden;
  }

  .clip-info-hidden {
    visibility: hidden;
  }

  .preview-reel {
    border-radius: 0 0 2px 2px;
    width: 100%;
  }
}

.clip-timeline-scale {
  .-elv-slider-overlay {
    outline: 1px solid $color-border-dark;
  }

  .video-seek-handle {
    color: $color-accent;
  }
}
