.clip-view-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  .video-level {
    max-height: 45vh;
    min-height: 45vh;
  }
}

.clip-video-container {
  display: flex;
  flex: 1 1 auto;
  max-width: 50%;
  min-width: 50%;

  &:first-child {
    border-right: 2px solid $color-border-dark;
  }
}

.video-level {
  border-bottom: 2px solid $color-border-dark;
}

.lower-level {
  display: flex;
  flex: 1 1 auto;
  max-height: calc(55vh - 60px);
}

.clip-bin-container {
  max-height: 100%;
  max-width: 300px !important;
  width: 250px;
}

.clip-bin {
  background-color: $color-background;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding: $elv-spacing-xs $elv-spacing-xs;
  width: 100%;
}

.clip {
  border: 2px solid $color-border;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: $elv-spacing-xs;
}

.clip-preview-container {
  padding-top: 56.25%;
  position: relative;
  width: 100%;

  .clip-preview {
    bottom: 0;
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: top;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.clip-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $elv-spacing-xs 0;
}

.clip-label {
  @include elv-ellipsis;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 $elv-spacing-xs;
  position: relative;
  width: 100%;

  &.clip-smpte-label {
    color: $elv-color-text-light;
    font-size: $elv-font-s;
  }

  .clip-label-edit {
    height: $elv-spacing-s;
    position: absolute;
    right: $elv-spacing-xs;
    width: $elv-spacing-s;
  }

  input {
    color: $elv-color-text-black;
  }
}

.clip-timeline-container {
  border-left: 2px solid $color-border-dark;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  padding: $elv-spacing-s;
  width: 100%;
}

.clip-timeline {
  align-items: center;
  background-color: $color-background-black;
  border: 2px solid $color-border-dark;
  border-bottom: 1px solid $color-border-dark;
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;

  position: relative;
}

.clip-timeline-clip {
  background-color: $color-background;
  border: 2px solid $color-border;
  cursor: pointer;
  position: absolute;

  .clip-info {
    height: 2rem;
    overflow: hidden;
  }

  .clip-info-hidden {
    visibility: hidden;
  }

  .preview-reel {
    border-radius: 0 0 2px 2px;
    width: 100%;
  }
}

.clip,
.clip-timeline-clip {
  //@include elv-no-select;

  &.selected {
    border: 2px solid $color-accent;

    .clip-info {
      background-color: $color-background-active;
    }
  }
}

.clip-timeline-seek {
  .clip-timeline-seek-handle {
    color: $color-accent-highlight;
    margin-left: -7px;
    padding: 3px 0 0 0 ;
  }
}

.clip-timeline-scale {
  .-elv-slider-overlay {
    border: 1px solid $color-border-dark;
    outline: 0;
  }

  .video-seek-handle {
    color: $color-accent;
  }
}

.drop-hint {
  @include elv-no-select;
  align-items: center;
  color: $color-background-active;
  display: flex;
  font-size: 2rem;
  height: 100%;
  justify-content: center;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.playhead-indicator,
.drop-indicator {
  background-color: $color-foreground;
  height: 100%;
  margin: $elv-spacing-xxs 0;
  width: 3px;
  z-index: 100;
}

.playhead-indicator {
  background-color: $color-accent-dark;
}
