$color-background: #201f1d;
$color-foreground: #fafafa;
$color-background-active: #403e3a;
$color-text: #fafafa;
$color-border: #444;
$color-border-active: #666;
$color-video-background: #000;
$color-rail: #505050;
$color-rail-background: #000;
$color-accent: #0c89c7;
