body {
  background-color: $color-background;

  * {
    color: $color-text;
  }
}

.mono {
  font-family: monospace;
}

.-elv-tooltip {
  &.-elv-tooltip {
    background-color: $color-background-active;
    border: 1px solid $color-border-active;
    color: $color-text;
  }
}

.rc-slider-tooltip {
  background-color: $color-background-active;
  border: 1px solid $color-border-active;
  color: $color-text;
}

button {
  &:focus {
    outline: 1px dotted $color-foreground;
  }
}

.async-component-loading,
.async-component-error {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: center;
  overflow-wrap: anywhere;
  padding: 0 $elv-spacing-xs;
  width: 100%;
}

.async-component-error {
  color: $elv-color-red;
}

.wrap {
  max-width: 100%;
  word-break: break-all;
  word-wrap: break-word;
}
