.app-version {
  display: none;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 20px;
  }
}

html,
body,
.app,
.video-editor {
  background-color: $color-background;
  min-height: 100%;
}

body {
  font-size: $elv-font-m;
  height: auto;

  * {
    color: $color-text;
  }
}

// Grow app container to max height
body,
.app {
  display: flex;
  flex-direction: column;
}

.app,
.video-editor {
  flex-grow: 1;
}

.video-editor,
.video-component {
  &:focus {
    outline: 0;
  }
}

.mono {
  font-family: monospace;
}

.hidden {
  display: none !important; // sass-lint:disable-line no-important
}

.-elv-tooltip {
  &.-elv-tooltip {
    background-color: $color-background-active;
    border: 1px solid $color-border-active;
    color: $color-text;
  }
}

.rc-slider-tooltip {
  background-color: $color-background-active;
  border: 1px solid $color-border-active;
  color: $color-text;
}

button {
  background-color: $color-background;
  border: 1px solid $color-border;
  cursor: pointer;
  font-size: $elv-font-s;
  padding: $elv-spacing-xs $elv-spacing-s;

  &:not(.-elv-icon-button) {
    &:hover {
      background-color: $color-accent;
    }
  }

  &:focus {
    outline: 1px dotted $color-foreground;
  }
}

.async-component-loading,
.async-component-error {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: center;
  overflow-wrap: anywhere;
  padding: 0 $elv-spacing-xs;
  width: 100%;
}

.async-component-error {
  color: $elv-color-red;
}

.wrap {
  max-width: 100%;
  word-break: break-all;
  word-wrap: break-word;
}

.resize-handle {
  background-color: $color-background;
  padding: 3px;
  position: absolute;
  z-index: 100;

  &:hover {
    background-color: $color-accent;
  }
}

.checkbox-container {
  cursor: pointer;
  padding: $elv-spacing-xs;
}

.checkbox {
  background-color: $elv-color-black;
  border-radius: 3px;
  height: $elv-font-xxs;
  outline: 1px solid $color-border;
  position: relative;
  width: $elv-font-xxs;

  &.checked {
    &::after {
      color: $elv-color-white;
      content: "✓";
      font-size: $elv-font-m;
      font-weight: 600;
      left: 0;
      position: absolute;
      top: -0.3rem;
    }
  }
}

.back-button {
  border-radius: 3px;
  width: 50px;

  &:hover {
    background-color: $color-background-active;
  }
}

.-elv-modal {
  &.-elv-modal {
    .-elv-modal-content {
      background-color: $color-background;
      border: 1px solid $color-border;
      box-shadow: none;
      color: $color-text;

      form {
        legend {
          border-bottom: 1px solid $color-border;
        }
      }

      button {
        background-color: $color-accent;
        border: 1px solid $color-border;
        color: $color-text;

        &.secondary {
          background-color: $color-background;

          &:hover {
            background-color: $color-background-active;
            border: 1px solid $color-border;
            color: $color-text;
          }
        }

        &:hover {
          background-color: $color-accent-highlight;
          border: 1px solid $color-border;
          color: $color-text;
        }
      }
    }
  }
}
