.entries-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;

  h4 {
    margin: 0;
  }

  .entries-header {
    background-color: $color-background-active;
    padding: $elv-spacing-s 0;

    &.modifiable {
      cursor: pointer;

      &:hover {
        background-color: $color-accent-dark;
      }
    }
  }

  .entries-filter {
    input {
      background-color: $elv-color-black;
      border: 1px solid $elv-color-black;
      color: $elv-color-text-lightest;
      font-size: $elv-font-l;
      height: 2rem;
      padding: 0 $elv-spacing-xs;
      width: 100%;
    }
  }

  .add-entry-button {
    bottom: 0;
    display: flex;
    width: 100%;

    z-index: 100;

    button {
      background-color: $color-accent;
      border: 0;
      flex-grow: 1;

      &:hover {
        background-color: $color-accent-highlight;
      }
    }
  }

  .entries-time-range {
    color: $elv-color-text-lighter;
    font-size: $elv-font-s;
  }

  .entries {
    flex-grow: 1;
    max-height: 100%;
    overflow-y: auto;
  }

  .entry-time-range {
    color: $elv-color-text-light;
  }

  .load-entries-button {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
  }

  .entry {
    @include elv-no-select;
    align-items: center;
    border-bottom: 1px solid $color-border;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: $elv-font-s;
    justify-content: center;
    min-height: 2.5rem;
    padding: $elv-spacing-xs;
    position: relative;
    text-align: center;

    &.entry-hover,
    &:hover {
      background-color: $color-background-active;
    }

    &.entry-active {
      background-color: $color-accent;

      .entry-time-range {
        color: $elv-color-text-white;
      }
    }

    &:not(.entry-active) {
      .entry-play-icon {
        &:hover {
          fill: $color-accent;
        }
      }
    }

    .entry-text {
      padding: 0 $elv-spacing-s;
    }
  }

  .entry-play-icon {
    fill: $elv-color-white;
    padding: $elv-spacing-xs;
    position: absolute;
    right: 0;
    top: 0;

    svg {
      height: $elv-font-m;
      width: $elv-font-m;
    }
  }

  .entry-actions {
    align-items: center;
    border-bottom: 1px solid $color-border;
    display: flex;
    padding: $elv-spacing-xs $elv-spacing-s;

    .back-button {
      margin-right: $elv-spacing-xs;
    }
  }
}

.delete-button {
  bottom: $elv-spacing-m;
  position: absolute;
  width: 90%;

  &.delete-button {
    button {
      background-color: $color-background;
      border: 1px solid $color-border;
      color: $elv-color-text-white;

      &:hover {
        background-color: $elv-color-mediumred;
      }
    }
  }
}

.entry-form {
  flex-grow: 1;
  padding: $elv-spacing-s;
  position: relative;

  button {
    background-color: $color-accent;
    flex-grow: 1;
    margin-top: $elv-spacing-m;

    &:hover {
      background-color: $color-accent-highlight;
    }

    &.invalid {
      background-color: $color-background;
    }
  }

  .time-input {
    display: flex;
    margin-bottom: $elv-spacing-xxs;

    .-elv-icon-button {
      background-color: transparent;
      margin: 0 0 0 $elv-spacing-xxs;
      width: auto;

      svg {
        padding: $elv-spacing-xxs;
      }
    }

    input {
      margin: 0;
    }
  }
}

.entry-details {
  align-items: center;
  display: grid;
  grid-row-gap: $elv-spacing-xxs;
  grid-template-columns: 8rem 2fr;
  width: 100%;

  label {
    color: $elv-color-text-lighter;
    text-align: left;
  }

  input {
    background-color: $color-background-active;
    border: $color-border;
    color: $color-text;
    font-size: $elv-font-m;
    margin-bottom: $elv-spacing-xxs;
    max-width: 100%;
    min-width: 0;
    width: 100%;

    &.invalid,
    &:invalid {
      box-shadow: $elv-color-red 0 0 4px;
      outline: 1px solid $elv-color-mediumred;
    }
  }
}

.entry-actions-container {
  align-items: center;
  display: flex;
  margin-bottom: $elv-spacing-s;

  .cancel-button {
    background-color: $color-background;
    margin-right: $elv-spacing-xs;

    &:hover {
      background-color: $color-background-active;
    }
  }

  .back-button {
    margin-right: $elv-spacing-xs;
  }
}

.entry-container {
  overflow-y: auto;
  padding: $elv-spacing-ss $elv-spacing-s;
  text-align: left;

  .entry-edit-button {
    margin-top: $elv-spacing-s;
    width: 10rem;
  }

  .entry-actions {
    align-items: center;
    border: 0;
    display: flex;
    flex-grow: 1;
    padding: 0;

    button {
      flex: 1 1;
      margin-right: $elv-spacing-xs;
      max-width: 40%;
      padding: $elv-spacing-mxs;

      &:last-child {
        margin-right: 0;
      }
    }

    .back-button {
      flex-grow: 0;
      margin-right: 2rem;
    }
  }
}
