.entries-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;

  h4 {
    margin: 0;
  }

  .entries-header {
    background-color: $color-background-active;
    padding: $elv-spacing-s 0;
  }

  .entries-time-range {
    color: $elv-color-text-lighter;
    font-size: $font-s;
  }

  .entries {
    flex-grow: 1;
    max-height: 100%;
    overflow-y: scroll;
  }

  .entry-time-range {
    color: $elv-color-text-light;
  }

  .load-entries-button {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
  }

  .entry {
    @include elv-no-select;
    align-items: center;
    border-bottom: 1px solid $color-border;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: $font-s;
    justify-content: center;
    min-height: 3.5rem;
    padding: $elv-spacing-xs;
    position: relative;
    text-align: center;

    &.entry-hover,
    &:hover {
      background-color: $color-background-active;
    }

    &.entry-active {
      background-color: $color-accent;

      .entry-time-range {
        color: $elv-color-text-white;
      }
    }

    &:not(.entry-active) {
      .entry-play-icon {
        &:hover {
          fill: $color-accent;
        }
      }
    }
  }

  .entry-play-icon {
    fill: $elv-color-white;
    padding: $elv-spacing-xs;
    position: absolute;
    right: 0;
    top: 0;

    svg {
      height: $font-m;
      width: $font-m;
    }
  }

  .entry-actions {
    align-items: center;
    border-bottom: 1px solid $color-border;
    display: flex;
    margin-top: 7px;
    padding: $elv-spacing-xs $elv-spacing-s;

    .back-button {
      margin-right: $elv-spacing-xs;
    }
  }
}

.entry-container {
  padding: $elv-spacing-ss $elv-spacing-s;
  text-align: left;

  .entry-details {
    display: grid;
    grid-row-gap: $elv-spacing-xxs;
    grid-template-columns: 8rem 2fr;

    label {
      color: $elv-color-text-lighter;
    }
  }

  .entry-play,
  .entry-back {
    margin-bottom: $elv-spacing-s;
  }

  .entry-back {
    align-items: center;
    display: flex;
  }
}
