header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .header-left,
  .header-right {
    align-items: center;
    display: flex;
    height: 100%;
    width: auto;
  }

  .header-right {
    padding: 0 $elv-spacing-m;
  }

  .mode-selection {
    display: flex;
    flex: 1 1 auto;
    height: 90%;
    padding: 0 $elv-spacing-s;

    button {
      align-items: center;
      border: 2px solid $color-background;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 5rem;

      svg {
        height: $elv-spacing-m;
        width: $elv-spacing-m;
      }

      &.active {
        background-color: $color-background-active;

        svg {
          stroke: $color-accent;
        }
      }

      &:hover {
        background-color: $color-background-active;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  .menu-button {
    height: 100%;
    margin-right: $elv-spacing-xs;
    z-index: 1001;

    svg {
      padding: $elv-spacing-xs;
    }
  }

  .menu-button-active {
    background-color: $color-background-active;

    svg {
      color: $color-foreground;
    }
  }

  h1 {
    font-size: $elv-font-l;
    font-weight: normal;
  }

  .header-icon {
    cursor: pointer;
    height: $elv-font-xxl;
    margin-right: $elv-spacing-m;
    padding: 0;
    width: $elv-font-xxl;

    svg {
      stroke: $elv-color-darkgray;

      &:hover {
        stroke: $elv-color-mediumgray;
      }
    }

    &.save-icon-loading {
      transform: scale(0.7);

      div {
        color: $elv-color-mediumgray;
      }
    }

    &.save-failed {
      svg {
        stroke: $elv-color-mediumred;

        &:hover {
          stroke: $elv-color-red;
        }
      }
    }

    &.keyboard-controls-icon {
      height: 1.9rem;

      path {
        fill: $elv-color-darkgray;
        stroke: transparent;

        &:hover {
          fill: $elv-color-mediumgray;
        }
      }
    }
  }
}

.upload-section {
  margin-bottom: $elv-spacing-l;

  h3 {
    font-size: $elv-font-m;
    font-weight: 500;
    margin: $elv-spacing-l 0 0;
    text-align: center;
  }
}

.offering-section {
  margin-right: $elv-spacing-m;
  display: flex;
  align-items: center;

  .offering-label {
    margin-right: $elv-spacing-xs;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    border: 1px solid $elv-color-darkgray;
    border-radius: 4px;
    position: relative;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23555%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }
}
