header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .header-left,
  .header-right {
    align-items: center;
    display: flex;
    height: 100%;
    width: auto;
  }

  .menu-button {
    height: 100%;
    margin-right: $elv-spacing-xs;

    svg {
      padding: $elv-spacing-xs;
    }
  }

  .menu-button-active {
    background-color: $color-background-active;

    svg {
      color: $color-foreground;
    }
  }

  h1 {
    font-size: $font-l;
    font-weight: normal;
  }

  .keyboard-controls-icon {
    cursor: pointer;
    margin-right: $elv-spacing-s;
  }
}
