header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .header-left,
  .header-right {
    align-items: center;
    display: flex;
    height: 100%;
    width: auto;
  }

  .header-right {
    padding: 0 $elv-spacing-m;
  }

  .menu-button {
    height: 100%;
    margin-right: $elv-spacing-xs;
    z-index: 1001;

    svg {
      padding: $elv-spacing-xs;
    }
  }

  .menu-button-active {
    background-color: $color-background-active;

    svg {
      color: $color-foreground;
    }
  }

  h1 {
    font-size: $elv-font-l;
    font-weight: normal;
  }

  .header-icon {
    cursor: pointer;
    height: $elv-font-xxl;
    margin-right: $elv-spacing-m;
    padding: 0;
    width: $elv-font-xxl;

    svg {
      stroke: $elv-color-darkgray;

      &:hover {
        stroke: $elv-color-mediumgray;
      }
    }

    &.save-icon-loading {
      transform: scale(0.7);

      div {
        color: $elv-color-mediumgray;
      }
    }

    &.keyboard-controls-icon {
      height: $elv-font-xxl;
      margin-bottom: 2px;

      path {
        fill: $elv-color-darkgray;
        stroke: transparent;

        &:hover {
          fill: $elv-color-mediumgray;
        }
      }
    }
  }
}
