$header-height: 45px;

header {
  height: $header-height;
}

.menu-container {
  height: calc(100% - #{$header-height});
  max-height: calc(100% - #{$header-height});
  position: absolute;
  width: 600px;
  z-index: 10000;
}

.video-level {
  display: flex;
  height: 500px;
  max-height: 100%;
  overflow: hidden;
  resize: vertical;
  width: 100%;
}

.side-panel {
  border-right: 1px solid $color-border;
  min-width: 220px;
  overflow: auto;
  overflow-x: hidden;
  resize: horizontal;
  width: 500px;
  word-wrap: break-word;
}

.timeline {
  border-right: 1px solid $color-border;
  margin-right: $elv-spacing-s;
}
