.video-level {
  display: flex;
  height: 500px;
  max-height: 100%;
  overflow: hidden;
  resize: vertical;
  width: 100%;
}

.side-panel {
  border-bottom: 1px solid $elv-color-darkgray;
  border-right: 1px solid $elv-color-darkgray;
  overflow: auto;
  resize: horizontal;
  width: 500px;
}
