.menu-container {
  background-color: $color-background;
  min-height: 500px;
  padding: $elv-spacing-s 0 0;

  .menu-header {
    align-self: center;
    display: flex;
    margin: 0 0 $elv-spacing-s $elv-spacing-xs;
  }

  .menu-back {
    border-radius: 3px;
    width: 50px;

    &:hover {
      background-color: $color-background-active;
    }
  }

  .menu-page-controls {
    align-items: center;
    display: flex;
    padding: 0 $elv-spacing-xs;

    .current-page {
      font-size: $elv-font-l;
      padding: 0 $elv-spacing-xs;
    }

    button {
      svg {
        border-radius: 100%;
        height: $elv-spacing-m;
        stroke: $color-accent;
        width: $elv-spacing-m;
      }

      &:hover {
        svg {
          stroke: $color-accent-highlight;
        }
      }
    }
  }

  .menu-filter {
    width: 100%;

    input {
      background: $color-background-active;
      border: $color-border-active;
      color: $color-foreground;
      font-size: $elv-font-xl;
      height: $elv-spacing-ml;
      padding: 0 $elv-spacing-s;
      width: 100%;
    }
  }

  .menu-video-filter {
    display: flex;

    button {
      flex: 1 1 0;
      max-width: unset;
    }
  }

  h4 {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-size: $elv-font-l;
    margin: 0;
    padding: 0 $elv-spacing-xs;
    text-align: center;
  }

  .menu-entries {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
  }

  ul {
    flex-direction: column;
  }

  li {
    @include elv-ellipsis;
    cursor: pointer;
    max-width: 100%;
    padding: $elv-spacing-ss $elv-spacing-s;

    &:hover {
      background-color: $color-accent;
    }
  }

  h5 {
    font-style: italic;
    font-weight: normal;
    padding: 0 $elv-spacing-s;
  }

  .menu-empty {
    margin-top: $elv-spacing-xl;
    text-align: center;
    width: 100%;
  }

  .video-info {
    display: grid;
    font-size: $elv-font-s;
    grid-row-gap: $elv-spacing-s;
    grid-template-columns: minmax(50px, 2fr) minmax(100px, 5fr);
    max-width: 100%;
    padding: $elv-spacing-s;
  }
}
