.menu-container {
  background-color: $color-background-active;
  border-bottom: 1px solid $color-border;
  border-right: 1px solid $color-border;
  min-height: 500px;
  padding: $elv-spacing-s 0 0;

  ul {
    flex-direction: column;
  }

  li {
    @include elv-ellipsis;
    cursor: pointer;
    max-width: 100%;
    padding: $elv-spacing-ss $elv-spacing-s;

    &:hover {
      background-color: $color-accent;
    }
  }

  .menu-header {
    align-self: center;
    display: flex;
    margin-bottom: $elv-spacing-s;
  }

  h4 {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-size: 20px;
    margin: 0;
    padding: 0 0 0 $elv-spacing-s;
    text-align: center;
  }

  .menu-empty {
    margin-top: $elv-spacing-xl;
    text-align: center;
    width: 100%;
  }
}
