$track-height: 3rem;
$audio-track-height: 5rem;
$preview-track-height: 5rem;

.timeline {
  max-height: calc(50vh - 55px);
  padding-bottom: $elv-spacing-m;
}

.tracks-container {
  margin: 0 0 $elv-spacing-m;
  position: relative;
  width: 100%;
}

.track-time-indicator {
  background-color: $elv-color-lightblue;
  margin-left: -1px;
  opacity: 0.6;
  pointer-events: none;
  position: absolute;
  width: 4px;
  z-index: 100;

  .track-time-handle {
    border-radius: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    width: 5px;
  }
}

.track-lane {
  display: flex;
  height: $track-height;

  .-elv-slider {
    .-elv-slider-mark {
      font-size: $elv-font-xs;
    }
  }

  &:last-child {
    .track-label-container {
      border-bottom: 1px solid $color-border;
    }

    .track-lane-content {
      border-bottom: 1px solid $color-border;
    }
  }
}

.track-lane-content {
  background-color: $color-background-black;
  border: 1px solid $color-border;
  border-bottom: 0;
  flex-grow: 1;
  margin-right: $elv-spacing-s;
}

.video-seek-lane,
.video-scale-lane {
  background-color: $color-background-black;
  max-height: 2.5rem;

  .track-label-container {
    span {
      color: $elv-color-text-lightest;
    }

    &:focus {
      outline: none;
    }
  }
}

.video-seek-lane {
  .track-label-container {
    border: 0;
    border-top: 1px solid $color-border-dark;
    font-size: $elv-font-s;
  }

  .track-lane-content {
    background-color: inherit;
    border: 0;
    border-top: 1px solid $color-border-dark;
  }
}

.video-scale-lane {
  border: 0;
  margin-top: 1px;

  .track-label-container {
    border: 0;
    font-size: $elv-font-xs;
  }

  .track-lane-content {
    border: 0;
  }
}

.track-container {
  display: flex;

  .track-canvas-container {
    height: $track-height;
    width: 100%;
  }

  canvas {
    cursor: pointer;
    max-width: 100%;
  }
}

.track-lane-audio {
  height: $audio-track-height;

  .track-lane-content {
    background-color: $color-background-black;
  }

  .track-canvas-container {
    height: $audio-track-height;
  }
}

.track-lane-preview {
  height: $preview-track-height;
}

.preview-frame {
  display: flex;
  flex: 1 1 auto;
  height: $preview-track-height;
  max-height: 100%;
  overflow: hidden;
  padding-bottom: 2px;
  width: 100%;

  img {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.track-label-container {
  @include elv-no-select;
  align-items: center;
  border: 1px solid $color-border;
  border-bottom: 0;
  border-left: 0;
  display: flex;
  font-size: $elv-font-m;
  height: 100%;
  min-width: 12rem;
  padding: $elv-spacing-s;
  position: relative;
  width: 12rem;

  .track-toggle {
    position: absolute;
    right: $elv-spacing-xs;
    top: 0;
  }
}

.track-label-clickable {
  cursor: pointer;

  &:hover {
    background-color: $color-background-active;
  }
}

.track-label-selected {
  background-color: $color-accent;

  &:hover {
    background-color: $color-accent-highlight;
  }
}

.overlay-toggle {
  max-height: $elv-font-m;
  max-width: $elv-font-m;
  position: absolute;
  right: $elv-spacing-xs;

  top: $elv-spacing-xs;
  z-index: 100;

  svg {
    stroke: $elv-color-lightgray;
  }

  &:hover {
    svg {
      stroke: $elv-color-white;
    }
  }

  &.overlay-toggle-disabled {
    svg {
      stroke: $elv-color-mediumgray;
    }
  }
}

.timeline-actions {
  display: flex;
  padding: 0 $elv-spacing-s;
  width: 100%;

  button {
    margin-right: $elv-spacing-xs;
    width: 7rem;

    &:hover {
      background-color: $color-accent;
    }

    &.enabled {
      background-color: $color-background-active;

      &:hover {
        background-color: $color-accent-highlight;
      }
    }
  }
}

.toggle-tracks {
  justify-content: center;
  margin-bottom: $elv-spacing-l;
}

$slider-height: 12px;

.track-entry-timestamps,
.track-entry-content {
  padding: $elv-spacing-xs $elv-spacing-s;
  white-space: normal;
  word-wrap: break-spaces;

  pre {
    border: 0;
    text-align: left;
  }
}

.track-entry-timestamps {
  display: flex;
  justify-content: center;
}

.track-entry-container {
  padding: $elv-spacing-xxs;
}

.track-entry-content {
  white-space: normal;
  word-wrap: break-word;

  &:empty {
    border: 0;
    display: none;
  }
}
