.tracks-container {
  width: 100%;
}

.track-container {
  background-color: $elv-color-bg-dark;
  display: flex;
}

.track-lane {
  border-bottom: 1px solid $elv-color-darkgray;
  display: grid;
  grid-template-columns: 200px 1fr;
}

.track-label {
  align-items: center;
  border-right: 1px solid $elv-color-darkgray;
  display: flex;
  font-size: 14px;
  padding-left: $elv-spacing-xs;
}

.video-seek,
.video-scale {
  &.rc-slider {
    cursor: pointer;
    height: 12px;
    width: auto;
  }

  .rc-slider-rail {
    background-color: $elv-color-black;
  }

  .rc-slider-track {
    background-color: $elv-color-darkgray;
  }
}

//* Slider styling *//

.video-seek {
  &.video-seek {
    .rc-slider-handle {
      background-color: $elv-color-lightblue;
      border-radius: 0;
      cursor: pointer;
      height: 75px;
      margin-left: -2px;
      margin-top: -6px;
      width: 3px;
    }
  }
}

.video-scale {
  &.rc-slider {
    .rc-slider-handle {
      z-index: 2;
    }

    .rc-slider-handle-2 {
      background-color: $elv-color-lightblue;
      border-radius: 0;
      height: 14px;
      margin-left: -2px;
      margin-top: -6px;
      width: 3px;
      z-index: 1;
    }
  }
}

.rc-slider {
  .rc-slider-rail {
    background-color: $elv-color-black;
  }

  .rc-slider-rail,
  .rc-slider-track {
    border-radius: 0;
    height: 100%;
    margin-top: -5px;
  }

  .rc-slider-track {
    background-color: $elv-color-darkgray;
  }

  .rc-slider-handle {
    background-color: $elv-color-lightestgray;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    height: 15px;
    margin-left: -5px;
    margin-top: -6px;
    width: 15px;

    &:focus {
      box-shadow: 0 0 3px $elv-color-lightestgray;
    }
  }
}

.track-entry {
  @include elv-no-select;
  background-color: $elv-color-bg-dark;
  border: 1px solid $elv-color-darkgray;
  border-radius: 10px;
  font-size: 14px;
  max-width: 250px;
  min-width: 100px;
  opacity: 0.95;
}

.track-entry-timestamps,
.track-entry-content {
  padding: $elv-spacing-xs $elv-spacing-s;
  white-space: normal;
  word-wrap: break-spaces;
}

.track-entry-timestamps {
  border-bottom: 1px solid $elv-color-darkgray;
  display: flex;
  justify-content: center;
}

.track-entry-content {
  white-space: normal;
  word-wrap: break-word;
}
