.tracks-container {
  position: relative;
  width: 100%;
}

.track-time-indicator {
  background-color: $elv-color-lightblue;
  margin-left: -1px;
  opacity: 0.6;
  pointer-events: none;
  position: absolute;
  width: 4px;
}

.track-container {
  display: flex;

  canvas {
    cursor: pointer;
  }
}

.track-lane {
  border-bottom: 1px solid $color-border;
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 45px;

  &:first-child,
  &:last-child {
    border-bottom: 0;
  }

  .-elv-slider {
    .-elv-slider-mark {
      font-size: $font-xs;
    }
  }
}

.track-label {
  @include elv-no-select;
  align-items: center;
  display: flex;
  font-size: $font-s;
  padding-left: $elv-spacing-s;
}

.track-label-active {
  background-color: $color-background-active;
}

.track-label-clickable {
  cursor: pointer;
}

$slider-height: 12px;

.video-scale-lane {
  border: 0;
  margin-top: 1px;
}

.track-entry-timestamps,
.track-entry-content {
  padding: $elv-spacing-xs $elv-spacing-s;
  white-space: normal;
  word-wrap: break-spaces;
}

.track-entry-timestamps {
  display: flex;
  justify-content: center;
}

.track-entry-content {
  white-space: normal;
  word-wrap: break-word;

  &:empty {
    border: 0;
    display: none;
  }
}
