:root {
  --background-primary: #151515;
  --background-secondary: #1b1b1c;
  --background-active: #323233;

  --spinner-color: #FFF;
  --spinner-color-background: red;
  --spinner-width: 5px;

  --text-primary: #ffffff;
  --text-secondary: #BDBDBD;
  --text-tertiary: #7b7580;
  --text-disabled: #4b494e;
}
