.video-component {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  max-height: 100%;
  width: 100%;

  .video-seek,
  .video-scale {
    margin-bottom: $elv-spacing-xs;
    padding: 0 $elv-spacing-m;
  }
}

.video-container {
  align-items: center;
  background-color: $color-background-video;
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  max-height: 100%;
  position: relative;

  .video-poster {
    cursor: pointer;
    height: 100%;
    left: 0;
    margin: auto;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  video {
    cursor: pointer;
    display: block;
    flex: 1 1 auto;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
  }
}

.video-controls-loading {
  height: 300px;
}

.video-seek,
.video-scale {
  .-elv-slider {
    background-color: $color-rail-background;
  }

  .-elv-slider-active {
    background-color: $color-rail;
  }

  .-elv-slider-overlay {
    outline: 1px solid $color-border;
  }
}

.video-seek {
  .video-seek-handle {
    background-color: transparent;
  }

  .-elv-slider-active {
    background-color: $color-accent;
  }

  .-elv-slider-marks-container {
    .-elv-slider-mark-notch {
      background-color: transparent;
    }
  }
}

.video-scale {
  .video-seek-handle {
    background-color: $color-accent;
  }
}

.video-time,
.video-controls {
  align-items: center;
  color: $elv-color-text-lightest;
  display: flex;
  font-size: $font-m;
  font-weight: lighter;
  justify-content: center;
}

.video-time {
  height: 35px;
  text-align: center;
  width: 100%;
}

.video-controls-container {
  background-color: $color-background-video;

  &:not(.fullscreen) {
    flex-grow: 1;
  }
}

.video-controls {
  height: 45px;
  padding-bottom: $elv-spacing-xs;
  position: relative;

  button {
    align-items: center;
    display: flex;
    height: $font-xxl;
    justify-content: center;
    width: 50px;

    svg {
      color: $color-foreground;
      fill: $color-foreground;
      stroke: transparent;
    }

    &:active,
    &:hover {
      svg {
        color: $color-accent;
        fill: $color-accent;
      }
    }

    &.video-control-play-pause {
      height: 1.8rem;

      svg {
        stroke: none;
      }
    }
  }

  select {
    font-size: $font-m;

    &:active,
    &:hover {
      color: $color-accent;
    }
  }

  .controls {
    height: 100%;
  }

  .left-controls,
  .right-controls {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
  }

  .left-controls {
    left: $elv-spacing-s;
  }

  .right-controls {
    right: $elv-spacing-s;
  }

  .center-controls {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .video-volume-icon {
    height: $font-l;
    margin-right: $elv-spacing-s;

    svg {
      stroke: $color-foreground;

      &:hover {
        stroke: $color-accent;
      }
    }
  }

  .video-volume-controls {
    align-items: center;
    display: flex;

    margin-right: $elv-spacing-s;
    width: 125px;

    .-elv-slider-active {
      background-color: $color-foreground;
    }

    .-elv-slider-handle {
      background-color: transparent;
    }
  }
}

select {
  background: none;
  border: 0;
  color: $color-foreground;
  left: $elv-spacing-xs;
  width: 80px;

  option {
    background-color: $color-background-active;
  }

  &.video-playback-rate {
    width: 50px;
  }
}
