.video {
  background-color: $elv-color-bg-dark;
  border-bottom: 1px solid $elv-color-darkgray;
  display: grid;
  grid-template-rows: 1fr 35px 50px;
  height: 100%;
  max-height: 100%;
  width: 100%;
}

.video-container {
  background-color: $elv-color-bg-black;
  border-bottom: 1px solid $elv-color-darkgray;
  display: flex;
  height: 100%;
  justify-content: center;
  max-height: 100%;
  position: relative;
}

video {
  cursor: pointer;
  display: block;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

.video-time,
.video-controls {
  align-items: center;
  display: flex;
  font-size: 16px;
  justify-content: center;
}

.video-controls {
  position: relative;

  button {
    height: 25px;
    width: 50px;

    svg {
      color: $elv-color-lightestgray;
    }

    &:hover {
      svg {
        color: $elv-color-lightblue;
      }
    }
  }

  .controls {
    height: 100%;
  }

  .left-controls,
  .right-controls {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
  }

  .left-controls {
    left: $elv-spacing-s;
  }

  .right-controls {
    right: $elv-spacing-s;
  }

  .center-controls {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .video-volume-icon {
    margin-right: $elv-spacing-s;
  }

  .video-volume-controls {
    align-items: center;
    display: flex;

    margin-right: $elv-spacing-s;
    width: 125px;
  }
}

select {
  background: none;
  border: 0;
  color: $elv-color-lightestgray;
  left: $elv-spacing-xs;
  width: 80px;

  option {
    background-color: $elv-color-bg-dark;
  }

  &.video-playback-rate {
    width: 50px;
  }
}

.video-time {
  text-align: center;
  width: 100%;
}
