.video-component {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  max-height: 100%;
  width: 100%;

  .video-scale,
  .video-clip-range {
    padding: 0 $elv-spacing-m $elv-spacing-xs;
  }

  .video-preview-reel {
    border-radius: 2px;
    height: 4rem;
    margin: $elv-spacing-xs $elv-spacing-m;
  }
}

.video-container {
  align-items: center;
  background-color: $color-background-black;
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  max-height: 100%;
  position: relative;

  video {
    cursor: pointer;
    display: block;
    flex: 1 1 auto;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
  }
}

.video-controls-loading {
  height: 300px;
}

.video-scale {
  .-elv-slider {
    background-color: $color-rail-background;
  }

  .-elv-slider-active {
    background-color: $color-rail;
  }
}

.video-clip-range {
  .video-seek-handle {
    background-color: transparent;
    color: $color-accent;
  }

  .-elv-slider {
    border: 0;
    outline: 0;
  }

  .-elv-slider-active {
    background: linear-gradient(180deg, darken($color-accent-seek-inactive, 3%), lighten($color-accent-seek-inactive, 5%));
  }

  .-elv-slider-handle-active {
    background-color: transparent;
  }

  .clip-in-handle,
  .clip-out-handle {
    background-color: transparent;
    border: 3px solid $color-accent;
    opacity: 0.6;
  }

  .clip-in-handle {
    border-right: 0;
    padding-right: $elv-spacing-xs;
  }

  .clip-out-handle {
    border-left: 0;
    margin-left: -10px;
    padding-left: $elv-spacing-xs;
  }

  .seek-handle {
    background-color: $color-accent-highlight;
    z-index: 200;
  }

  &.clip-video-clip-range {
    .-elv-slider-active {
      background: linear-gradient(180deg, darken($color-accent, 3%), lighten($color-accent, 5%));
    }
  }
}

.video-scale,
.video-clip-range {
  .video-seek-handle {
    background-color: $color-accent;
    z-index: 0;
  }
}

.video-time,
.video-controls {
  align-items: center;
  color: $elv-color-text-lightest;
  display: flex;
  font-size: $elv-font-m;
  font-weight: bold;
  justify-content: center;
}

.video-time {
  height: 35px;
  text-align: center;
  width: 100%;
}

.video-controls-container {
  background-color: $color-background-black;

  &:not(.fullscreen) {
    flex-grow: 1;
  }
}

.video-controls {
  align-items: end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
  padding-bottom: $elv-spacing-xs;
  position: relative;

  button {
    align-items: center;
    display: flex;
    height: $elv-spacing-m;
    justify-content: center;
    width: $elv-spacing-l;

    svg {
      color: $color-foreground;
      fill: $color-foreground;
      stroke: transparent;
    }

    &:active,
    &:hover {
      svg {
        color: $color-accent;
        fill: $color-accent;
      }
    }

    &.video-control-play-pause {
      height: 1.8rem;

      svg {
        stroke: none;
      }
    }

    &.video-control-save-frame {
      svg {
        stroke-width: 1.5px;
      }
    }

    &.video-control-save-frame,
    &.video-control-clip {
      svg {
        fill: transparent;
        stroke: $color-foreground;
      }

      &:hover {
        svg {
          stroke: $color-accent;
        }
      }
    }
  }

  select {
    @include elv-ellipsis;
    font-size: $elv-font-m;

    &:active,
    &:hover {
      &:not(:disabled) {
        color: $color-accent;
      }
    }
  }

  .controls {
    height: 100%;
  }

  .left-controls,
  .right-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bottom-controls,
  .top-controls {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    height: auto;
    max-width: 100%;
  }

  .left-controls {
    margin-left: $elv-spacing-s;

    .top-controls {
      justify-content: flex-end;
    }
  }

  .right-controls {
    align-items: flex-end;
    display: flex;
    margin-right: $elv-spacing-s;

    button {
      margin-left: $elv-spacing-xs;
    }

    .top-controls {
      justify-content: flex-start;
    }
  }

  .center-bottom-controls {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: $elv-spacing-xxs;
  }

  .video-volume-icon {
    height: $elv-font-l;
    margin-right: $elv-spacing-s;

    svg {
      stroke: $color-foreground;

      &:hover {
        stroke: $color-accent;
      }
    }
  }

  .video-volume-controls {
    align-items: center;
    display: flex;

    margin-right: $elv-spacing-s;
    width: 125px;

    .-elv-slider-active {
      background-color: $color-foreground;
    }

    .-elv-slider {
      background-color: $color-background;
    }

    .-elv-slider-handle {
      background-color: transparent;
    }
  }
}

select {
  background: none;
  border: 0;
  color: $color-foreground;
  left: $elv-spacing-xs;
  width: 5rem;

  option {
    background-color: $color-background-active;
  }

  &.video-playback-rate {
    width: 3.5rem;
  }

  &.video-playback-level {
    margin-right: $elv-spacing-m;
    width: 10rem;
  }
}
