@import "variables";

body {
  background: var(--background-primary);
  color: var(--text-secondary);
  font-family: Inter, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.page-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.content {
  background: var(--background-primary);
  display: flex;
  flex-direction: column;
  gap: var(--gutter-size-y) var(--gutter-size-x);
  height: calc(100vh - var(--gutter-size-y));
  max-height: calc(100vh - var(--gutter-size-y));
  overflow: hidden;
  padding: var(--gutter-size-y) var(--gutter-size-x);
  width: 100%;
}

.top {
  display: flex;
  gap: var(--gutter-size-x);
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.bottom {
  height: 0;
  position: relative;
}

.video-panel,
.side-panel {
  height: 100%;
  position: relative;
}

input {
  background: var(--background-input);
  transition: box-shadow 0.25s ease;

  &::placeholder {
    color: var(--text-tertiary);
  }

  &:focus-visible {
    box-shadow: 0 0 5px var(--focus-color);
    outline:0;
  }
}

button {
  transition: box-shadow 0.25s ease;
  user-select: none;

  &:focus-visible {
    box-shadow: 0 0 5px var(--focus-color);
    outline:0;
  }
}
