:root {
  --background-primary: #151515;
  --background-secondary: #1b1b1c;
  --background-active: #323233;
  --background-toolbar: #29292D;
  --background-input: #1e1e1e;
  --background-input--active: #252525;
  --background-track: #000;
  --background-switch-active: #4a4a4b;
  --background-modal: #242424;
  --content-border-color: #222;
  --content-border-radius: 5px;
  --content-inline-padding: 20px;
  --gutter-size-x: 5px;
  --gutter-size-y: 5px;
  --spinner-color: #FFF;
  --spinner-color-background: red;
  --spinner-width: 5px;
  --focus-color: #7474da;
  --text-primary: #fff;
  --text-secondary: #BDBDBD;
  --text-tertiary: #7b7580;
  --text-disabled: #4b494e;
  --text-highlight: #bc77ec;
  --text-highlight-secondary: #7787ec;
  --text-error: #ce6666;
  --table-border-color: #3B3B3B;
  --font-default: inter, system-ui, "Segoe UI", roboto, helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-monospace: "Chivo Mono", "Courier New", courier, monospace;
  --slider-color: var(--text-highlight);
  --slider-indicator-color: var(--text-highlight-secondary);
  --background-tag: #29292D;
  --background-tag--selected: #2e2e3d;
  --background-tag--hover: #38383d;
  --border-asset-tag-selected: #72729a;
  --animation-fadein: fadein;
  --track-height: 45px;
  --track-height--thumbnails: 60px;

  @keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
